[2014-04-16 08:00] sjperkins opened #1 "Make this project a python module"
Currently, this project is organised as a set of classes. It would be good to organise it in a pythonic way, with factory methods that produce the different pipelines and shared data objects. Something like the following:

[code]

[2014-04-16 08:01] sjperkins opened #2 "Use CMAKE to build the python C extensions"
At the moment, there's a somewhat hardcoded makefile. A CMakeFile would be better.

[2014-04-16 08:04] sjperkins opened #3 "Use a templating mechanism to avoid code duplication when writing double and float kernels."

[2014-04-16 08:13] sjperkins opened #4 "Use cub for Segmented Reduction, instead of the moderngpu"
**[moderngpu's](http://nvlabs.github.io/moderngpu/)** interface to it's segmented reduction code is really clunky. If one does things properly, one has to set up a C++ CudaContext object, which doesn't really correspond with PyCUDA's internals and leads to kernels/streams being executed on different CUDA contexts.

At present, I've manually reproduced much of the functionality of these calls in th

[2014-04-16 08:56] o-smirnov opened #5 "TestRimes.py failing on elwood (K20m)"
[code]

[2014-04-16 08:57] o-smirnov opened #6 "MS_example.py failing with ValueError: total size of new array must be unchanged"
[code]

[2014-04-16 12:32] sjperkins opened #7 "sd.set_refwave used to set the reference frequency"
Terminology issue here. Fix it.

[2014-04-16 13:00] #6 closed, assigned to nobody

[2014-04-16 13:43] sjperkins opened #8 "Fix hardcoded CUDA architecture version in crimes.cu"
This code in crimes.cu:

[code]

hard codes the CUDA architecture for SM Version (350). A better solution would be to pass in

[code]

to the crimes library. However, this will probably change when we switch to cub #4

[2014-04-16 15:03] #5 closed, assigned to nobody

[2014-04-16 15:03] #8 closed, assigned to sjperkins

[2014-04-16 15:06] #7 closed, assigned to sjperkins

[2014-04-16 15:07] sjperkins opened #9 "Add proper testcase for the EBK terms."
Still TODO.

[2014-05-14 13:57] #9 closed, assigned to sjperkins

[2014-05-19 13:05] #1 closed, assigned to sjperkins

[2014-05-20 07:35] sjperkins opened #10 "Add 1.0881 clamp in the EBK term"
Clamp the E terms to 1.0881

[2014-05-21 07:54] sjperkins opened #11 "Support Gaussian Sources"
Based on the following meqtrees code:

https://github.com/ska-sa/meqtrees-timba/blob/master/MeqNodes/src/PSVTensor.cc#L497

[2014-05-21 08:00] sjperkins opened #12 "Support Noise Vector"
The Chi Squared Test is implemented as follows at the moment:
- summing the differences between the data and the model.
- dividing by a **single** sigma squared value.

Support for a noise vector should be added. In practice:
- The differences between the data and the model should be computed.
- Each element in this difference operation should be divided by it's **own** sigma squared value.

@jtlz

[2014-05-21 08:02] sjperkins opened #13 "Support Variable Source Model"
The source brightness should be able to vary with time.

Essentially the dimension of the brightness matrix will change from (nsrc) to (ntime,nsrc). This must be supported in the CUDA kernels.

[2014-05-21 08:42] sjperkins opened #14 "Support CUDA streaming model"
At present, the CPU and the GPU operate synchronously. This means that they can't do work simultaneously. To support this, montblanc should support CUDA streaming.

[2014-05-21 08:45] #2 closed, assigned to sjperkins

[2014-05-21 08:46] o-smirnov opened #15 "Remove O(Nsrc) GPU memory requirement"
Current memory requirements scale with the number of sources, which quickly overruns the GPU capacity when using realistically-sized (100-1000 sources) sky models. Need to find away to reduce this -- unless #14 eliminates the problem.

[2014-05-21 11:01] #10 closed, assigned to sjperkins

[2014-05-22 12:31] jtlz2 opened #17 "API / documentation / data structure specification"
@sjperkins - any chance of a list of the data types/structures that go on and off the GPU so we can massage them into the correct form?

An example is: what happens if no pointing errors are transferred in, or is the simplest just to set these to zero for the use case in question?

[2014-05-22 16:39] jtlz2 opened #18 "Add a verbosity flag to control output"
@sjperkins - can we keep an issue open for minor issues like this one? It doesn't seem to warrant a ticket??

Any chance of a verbosity flag or level? :)

[2014-05-23 08:39] #18 closed, assigned to nobody

[2014-05-26 12:52] jtlz2 opened #20 "DAP message"
On running:

Module dap was already imported from None, but /usr/lib/python2.7/dist-packages is being added to sys.path

?

[2014-05-26 12:53] jtlz2 opened #21 "strides/storage order"
On running,

Setting array from one with different strides/storage order. This will cease to work in 2013.x.

?

[2014-05-26 13:00] #20 closed, assigned to nobody

[2014-05-26 13:02] jtlz2 opened #22 "pointing errors - optimization when not fitting?"
In one setup we don't want to fit for pointing errors - is there a way to switch this off completely?

[2014-05-27 09:43] sjperkins opened #23 "Implement an Elliptical Coordinate System"
Jon was suggesting compressing the channel and time dimensions by having a regular (u,v) grid. As I understand it,  the time and frequency parameters are derived from the grid coordinates.

While grid coordinate system are ubiquitous, we also wondered whether an elliptical coordinate system would be a better way of compressing said data.

The reasons why this may not be viable could be due to smal

[2014-05-27 10:23] #21 closed, assigned to nobody

[2014-05-27 13:12] sjperkins opened #24 "Implement loading the bayes data from a Measurement Set."
@jtlz2 You can try implementing it yourself in MeasurementSetSharedData.py, or can send me the code you showed me this morning.

If you're going to implement it yourself, create a new branch for the change.

[code]

Then make your changes on the branch. When you're happy, push the branch to github using:

[code]

Once there, we can review the changes, before integrating into the master. Once this

[2014-05-27 13:38] #24 closed, assigned to jtlz2

[2014-05-27 14:09] jtlz2 opened #25 "GPU health?"
Is there any way to ping a GPU to check whether it's connected/working OK? My code, which was working fine a couple of hours ago, is now hanging before sd.transfer_bayes_data(vis_data), with no change to the code. I haven't updated to the latest revision yet.

[2014-05-27 14:28] #25 closed, assigned to nobody

[2014-05-27 15:51] sjperkins opened #26 "GPU and CPU code has invalid interactions between frequencies and wavelengths"
During calculation of the phase term, the reference frequency is being divided by the wavelength. This is not correct. Originally, these properties were specified in terms of reference wavelength. Commits 8587600938cdc7973edb4714a77c39a09690c82c, 9e98400296612fc0174830f2aa0db0fbb7d1d391 and 554474a8849ff2fd80967155851ff624d8d12495 changed this however.

[2014-05-27 16:33] #26 closed, assigned to sjperkins

[2014-05-28 10:19] sjperkins opened #27 "Rename cos3_constant to beam_width"
The beam width is currently named cos3_constant, which is somewhat vague. Rename it to beam_width.

[2014-05-28 10:20] #27 closed, assigned to sjperkins

[2014-05-28 11:22] jtlz2 opened #28 "sd.set_sigma_sqrd()"
Is the argument of sd.set_sigma_sqrd() definitely sigma**2 rather than sigma?

[2014-05-28 11:40] #28 closed, assigned to nobody

[2014-05-28 16:20] jtlz2 opened #29 "Pyrap on Mac OS X Mavericks (10.9.x)"
Just flagging this up as an issue: while casacore installs on a Mac, pyrap doesn't because of some nasty interaction (how do I attach logs here?).

Not sure how to proceed - help needed from @ludwigschwardt I think.
https://github.com/ska-sa/homebrew-tap

@sjperkins Is there any way to work around the pyrap dependency??

[2014-05-29 07:39] #29 closed, assigned to nobody

[2014-06-02 12:41] #3 closed, assigned to sjperkins

[2014-06-06 06:48] #12 closed, assigned to sjperkins

[2014-06-06 11:19] jtlz2 opened #31 "nsrc=0"
@sjperkins - would it be possible to have a nsrc=0 option that runs OK? We'd need that to calculate a 'null evidence' (which is essentially a noise-only model). Or will it cause the pipeline to fall over? I suppose we could run it on the CPU as it should be very quick.

[2014-06-09 14:17] jtlz2 opened #32 "Run stats"
@sjperkins Is it currently possible to get some details of runtimes etc. out of sd.xxxx, and if not, could you add something simple? Maybe the logging feature is used for this, in which case is it possible to return details of the logging in memory rather than to file? No problem if not a quick kill!

[2014-06-09 15:22] #32 closed, assigned to nobody

[2014-06-10 08:30] jtlz2 opened #34 "Support distribution of computation across multiple GPUs"
@sjperkins What are your thoughts on parallelizing (with mpi) a couple of GPUs? One for the wishlist I reckon....

[2014-06-10 10:39] #31 closed, assigned to nobody

[2014-06-11 15:59] #11 closed, assigned to sjperkins

[2014-06-13 12:22] #13 closed, assigned to sjperkins

[2014-06-19 09:18] sjperkins opened #37 "Compute per antenna phase, beam and gaussian terms."
At present, phase, beam and gaussian terms are computed per _baseline_. A significant portion of computation is duplicated by the GPU.

Instead, these terms should be computed per _antenna_ and then combined when computing per baseline values.

[2014-06-23 12:21] sjperkins opened #38 "Rename noise to weight vector. Initialise from MS file FLAG data."
@jtlz2 @saiyanprince Creating new issue to track this. Following on from our discussion in #30.

I'm happy to set the noise/weight vector from the MS file's FLAG data.

Its up to you whether you'd prefer to refer to the noise/weight vector but I'd prefer to aggregate them into one value as its simply more efficient. Let me know and I'll make the change. If I was to implement the weight vector, it

[2014-06-24 14:14] jtlz2 opened #39 "Provide a SharedData member that provides a count of the Weighted Visibility Components"
@sjperkins At the moment we calculate the number of visibilities as

    ndata=8*sd.nbl*sd.nchan*sd.ntime

But some of these will be flagged and hence ignorable in the summation. Are you able to provide a sd.ndata attribute that is essentially a counter of the actual number of unflagged visibilities used in the summation? Low-weight visibilities - or anything else used in the summation - should st

[2014-06-24 14:19] jtlz2 opened #40 "Should WEIGHT/WEIGHT_SPECTRUM be used to initialise the weight_vector?"
@oms-ratt @saiyanprince cc @sjperkins I'm confused about the original purpose of the MS WEIGHT/WEIGHT_SPECTRUM columns. What I had in mind was that they were just 1/sigma**2 for each visibility, but perhaps I've screwed up and in fact they are only used for weighting schemes like uniform v natural etc. The FLAG column is still important but perhaps we shouldn't be initializing from WEIGHT/WEIGHT_S

[2014-06-25 10:20] #38 closed, assigned to sjperkins

[2014-06-25 10:20] #40 closed, assigned to o-smirnov

[2014-06-27 12:26] sjperkins opened #42 "Computation of ber baseline E beam term is incorrect."
At present E_pq is being computed as E_pq = E_p \* E_q. It should be computed as E_pq = E_p \* E_q^H = E_p / E_q

[2014-06-27 12:27] #42 closed, assigned to sjperkins

[2014-07-01 15:56] sjperkins opened #44 "Fix and simplify Gaussian Calculation"
During the computation of the calculation of the Gaussian shape term, the shape terms where mixed up [here](https://github.com/ska-sa/montblanc/blob/74a34377af7c3e942466023ec556cc282dbd38d0/montblanc/RimeEBK.py#L185-L186). **cos_pa** should be calculated with **em**, not **el**, and vice-versa for **sin_pa**.

Its also possible to factor out the **fwhm** term since even though it is divided throug

[2014-07-01 16:29] #44 closed, assigned to nobody

[2014-07-08 16:06] sjperkins opened #49 "Is it possible to to use double precision for the sum, but single precision for the sum components?"
It may be possible to use a double to accumulate the sum total while adding floats to this sum. What is the precision loss with this approach?

This issue has been created as a general reminder about this approach.

[2014-07-11 13:26] sjperkins opened #50 "Question: Is it sufficient to use the antenna coordinates to calculate uvw baseline coordinates?"
@oms-ratt I'm dealing with the optimisation where we're computing the phase term as K_pq = K_p \* K_q^H, where K_p and K_q are the per antenna phase terms calculated using antenna position u_p and u_q.

When reading in the baseline UVW coordinates from the Measurement Set, is it sufficient to read in the first NA coordinates, where NA = number of antenna, and assume _in general_ that the subsequen

[2014-07-18 10:22] jtlz2 opened #51 "Placeholder: non-gaussian source profiles"
Eventually we'd like:

1. Beta profile
2. NFW profile
3. Corkscrews
....

[2014-07-30 14:37] #50 closed, assigned to o-smirnov

[2014-08-14 12:19] o-smirnov opened #52 "Need to implement a G-Jones kernel"
Direction-independent term: dimension is 4 x Nfreq x Ntime x Nantenna.

A possible optimization is to support a scalar Jones term (1 x Nfreq x Ntime x Nantenna).

[2014-08-19 07:39] jtlz2 opened #54 "sticky - CUDA tips"
export CUDA_DEVICE=0
python ...
export CUDA_DEVICE=1
python ...

nvidia-smi gives the configs on both machines.

[2014-08-19 07:39] #54 closed, assigned to nobody

[2014-09-19 10:31] sjperkins opened #57 "Investigate possibility of an adaptive/multi-resolution solution to the RIME"
@jtlz2 @o-smirnov

In conversation with Oleg, it was confirmed that bright point sources contribute proportionately more to the visibilities. Considering the increasing problem sizes posed by instruments such as the SKA, its worth thinking about whether one could compute BIRO's Chi Squared with only a few very bright point **sources** and then gradually include the less bright ones towards the end

[2014-10-15 15:36] sjperkins opened #60 "Fix PyCUDA allocator hack, once allocator's have been added to PyCUDA's reduction algorithms"
Supplied a patch to the PyCUDA dev. If accepted, gpuarray.sum will take an allocator argument, alleviating the need to use the current allocator swap hack.

[2014-10-28 08:32] #37 closed, assigned to sjperkins

[2014-11-11 11:14] #4 closed, assigned to sjperkins

[2014-11-28 06:57] jtlz2 opened #64 "Compilation under Fermi"
@sjperkins To make this work, I added

'-arch=sm_20'

to the nvcc flag list near line 94 of setup.py.

Is there a way to make this happen automatically depending on the architecture? Otherwise it's a manual hack for now...

[2014-11-28 12:53] jtlz2 opened #65 "Standard test cases: Telescope specs"
Telescope | Nant | Nbl | Nchan | Ntime | Nsrc
-- | -- | -- | -- | -- | --
WSRT | 14 | ? | ? | ? | ?
KAT7 | 7 |  | ? | ? | ? | ?
MeerKAT | 64 | ? | ? | ? | ?
ALMA | 64 | ? | ? | ? | ?
VLA | 27 | ? | ? | ? | ?
VLBI | ? | ? | ? | ? | ?

[2015-01-27 11:37] #64 closed, assigned to nobody

[2015-01-27 11:39] #22 closed, assigned to nobody

[2015-03-05 11:14] gijzelaerr opened #71 "if released I make a package"
and add it to the radio astro PPA.

[2015-03-05 12:41] sjperkins commented on #71
@gijzelaerr I'm open to the idea. What do you need from me to do this?

[2015-03-05 12:43] gijzelaerr commented on #71
Assuming you want to keep things simple and just do releases from your master branch, just press the release button on github :)

https://github.com/ska-sa/montblanc/releases/new

Maks sure all versions match up in your `setup.py` file. Thats it.

[2015-03-05 14:46] sjperkins commented on #71
@gijzelaerr I've added a v0.4.0-alpha1 tag, so 0.4.0-alpha1 is the first release. Close this issue if you're happy with that?

[2015-03-06 08:22] sjperkins commented on #71
Created first release https://github.com/ska-sa/montblanc/releases/tag/v0.4.0-alpha1.

[2015-03-06 08:22] #71 closed

[2015-03-18 07:42] #65 closed

[2015-03-18 13:14] gijzelaerr opened #72 "Something wrong with the version number of release"
it isn't set, resulting in a package with version 0.0.0

[2015-03-30 10:15] sjperkins commented on #72
Fixed by 30aecb6591414e9c1b02a6ea090e2568764223cf and 0ea2ade693160255e4d43a8703478f2bfa27e84c.

[2015-03-30 10:15] #72 closed

[2015-03-30 10:27] gijzelaerr opened #74 "alpha2 package is numbered as alpha1 and is manipulated during build"
montblanc/version.py in the  alpha2 tarball contain:
[code]

After a `python setup.py build` the file contains:
[code]

[2015-03-30 11:21] sjperkins commented on #74
Fixed by 21be5cb54a4d1611e6c277c4024b2c80d6b85023. Retagged 0.4.0-alpha2 release with this commit.

[2015-03-30 11:21] #74 closed

[2015-04-01 09:51] sjperkins commented on #14
Implemented in v3 in Initial Release c5302ae9a081c7f6a228f72bdb66a5fdb47ebe04.

[2015-04-01 09:51] #14 closed

[2015-04-01 09:53] sjperkins commented on #60
See [here](https://github.com/ska-sa/montblanc/blob/e3e7ec660ef6e9f427e93b7e52c3d8f45976098e/montblanc/impl/biro/v3/CompositeBiroSolver.py#L363-L375) for example.

[2015-06-17 11:09] sjperkins commented on #57
Won't have time for this.

[2015-06-17 11:09] #57 closed

[2015-06-17 11:11] sjperkins commented on #52
Implemented in a477514452aa5fa8e1fca75657b05ab6760b1f25 and b1eff8d4072d0c33aca00cd97d3708094b13f1db.

[2015-06-17 11:11] #52 closed

[2015-06-18 12:50] sjperkins opened #78 "Handle multiple spectral windows"
At present, Montblanc only loads in the first spectral window from a MeasurementSet.

# Basic Specification

- The number of channels in each spectral window should be summed to produce a total.
- The frequencies from each spectral window should be loaded into their appropriate channel.
- Only **one** reference frequency/wavelength will be supported.

# Changes required

Probably need to make load

[2015-06-18 12:52] marziarivi commented on #78
Actually, I need this!

[2015-06-18 13:00] sjperkins commented on #78
@marziarivi I think @saiyanprince will be making some changes here. Feel free to make suggestions and we can update the above specification.

[2015-06-18 13:05] marziarivi commented on #78
Actually I am not used with MS, but for my simulations it would be helpful to specify a frequency band split in several channel of a given bandwidth. At the moment I use MS only for reading the uvw coordinates but then I would like to give as an independent parameter frequency specifications, so that this information is not related to the MS I am using and I can change it.

[2015-06-18 13:09] jtlz2 commented on #78
@marziarivi Soon we can probably get someone (A. Student) to add a function
to generate uvw coordinates from observing parameters rather than take them
from an MS - will keep you updated.

[2015-06-18 13:55] marziarivi commented on #78
Yes, but you have to read the antennas position anyway.

[2015-06-18 14:01] jtlz2 commented on #78
@marziarivi - of course - but that's << MS in size.

[2015-07-23 15:28] #23 closed

[2015-09-10 13:55] marziarivi commented on #78
Hi,
looking at the sections of code mentioned above in order to deal with several channels, I don't see any change required. It seems it already manages more channels read from the MS. Am I wrong?
It would be also useful to have the possibility to set the number of channels and their frequency manually.

[2015-09-10 15:57] sjperkins commented on #78
Currently it only reads channels from the first spectral window. Note the `[0]` index below:

[code]
but the loader calculates the number of channels from the number of elements in the `CHAN_FREQ` column.

[code]

I think this will result in counting all channels from all spectral windows, so there's probably a subtle bug here.

I can easily enable the ability to create an "empty" solver, where yo

[2015-09-10 16:27] marziarivi commented on #78
I think there is no need if I can just change the nchan variable and set the central wavelengths of each channel after reading the MS. But how can I set the channel bandwidth?

[2015-09-10 16:35] sjperkins commented on #78
There is no ability to change the number of channels after the solver is created. So that will need to specified when configuring the solver. Let me know if you want to go this route, it's a quick change.

However, you can change the frequencies and reference frequency after solver creation. If you had `nchan=64` channels:

[code]

[2015-09-17 09:07] sjperkins opened #84 "v2 visibilities are the complex conjugate of v4's visibilities"
v4's visibilities are the complex conjugate of v2's.

There'll be an incorrect sign somewhere. First place to look is the [jones_multiply_4x4_hermitian_transpose_in_place](https://github.com/ska-sa/montblanc/blob/0a4e7a810a722401842a56c04446312c58165ddf/montblanc/src/montblanc/include/jones.cuh#L74-L114) function. Inverting the sign of the imaginary part of the complex number produces the correct

[2015-09-17 09:08] sjperkins commented on #84
@saiyanprince I've created a placeholder issue for this. Mail me or comment on this issue if you would like the above updated.

[2015-09-17 12:34] saiyanprince commented on #84
We first noticed this behaviour when v2 and v4 were not converging to the same values for the position estimates (l,m) during the Bayesian analysis. Increasing the prior boxes to include both (-l,-m) and (l,m), it became apparent that a source at (l,m) (as interpreted by v2) converged to (-l,-m) in v4.

@sjperkins @jtlz2 From our previous discussion, the (u,v,w) co-ordinates are fine. I'll make th

[2015-09-17 16:01] marziarivi commented on #84
I have some problems with the positions fitting too. By the way, they are assumed to be measured in arcsec, aren't they?

[2015-09-17 16:08] jtlz2 commented on #84
@marziarivi radians away from pointing centre, no?

[2015-09-17 16:12] marziarivi commented on #84
Ah, so they are measured in radiants... ok.

[2015-09-17 16:21] sjperkins commented on #84
@marziarivi @jtlz2 I think we've been working with arcseconds in general.

In general, I think its fair to say that if you're working with MeasurementSets, then the units of the MS inform the rest of the input that the user supplies to Montblanc.

[2015-09-17 16:39] saiyanprince commented on #84
Any size parameter, like position or shape, is input to montblanc in
radians, which are also the units in which Measurement Sets record them.

In our analyses, the sampling is done in radians. It's just that the user
is allowed to set the prior ranges in arcseconds.
On 17 Sep 2015 6:21 pm, "Simon Perkins" <notifications@github.com> wrote:

[2015-09-17 16:40] marziarivi commented on #84
Thanks for the clarification.

[2015-09-19 09:49] marziarivi commented on #84
So, for gaussian sources are you assuming in your model that el and em parameters are provided in radiants (even if the order of magnitude are arcsecs)?

[2015-09-19 12:10] o-smirnov commented on #84
In my opinion, this is correct. An API should stick to consistent units
throughout, and preferably SI units. So all angles should be radians.

Conversion to more human units, e.g. arcsecs for source extents, if
necessary, should happen in the user-facing layer.

[2015-09-19 12:15] marziarivi commented on #84
Ok. Thanks. Just to be sure sersic model units be consistent with the rest of the code.

[2015-09-28 17:02] marziarivi opened #85 "chi_sqrd gradient"
I would like to add a function in the biro solver for the computation of the gradient of the chi squared with respect to the sources positions, flux and sersic shape parameters. I need it in order to use HMC and I think the best solution is to implement this computation within MontBlanc in version 4.0. If it is not a problem I will create a branch for it.

[2015-09-28 19:02] jtlz2 commented on #85
@marziarivi Sounds good to me in principle. What are the maths of it though? Should it be generalizable to the gradient of *any* of the parameters (source and/or telescope)?

@sjperkins What are the implications for array sizes etc.?

[2015-09-29 07:31] sjperkins commented on #85
@marziarivi I'm happy to include other modes of operation into the solvers with the proviso that this is well specified. Going forward, I'd like this specification to be written up in the initial comment of this issue (but keep your initial comments at the bottom of it?). This will help drive the discussions on the implementation.

First thing I'd like to see in the specification is an HTML link t

[2015-09-29 07:43] sjperkins commented on #85
@marziarivi It would be wise to wait for my merge of the v5-edits branch into master, since this includes many architectural, but not functional, changes to the v4 code. I hope to do this soon, but I could merge it sooner so that you can branch off from those changes.

[2015-09-29 08:20] o-smirnov commented on #85
I fully support this idea. My plan for next year was to add gradient computation to Montblanc -- this will enable all sorts of calibration applications.

[2015-09-29 08:20] o-smirnov commented on #85
By which I mean, optional gradients with respect to all of the RIME parameters (source parameters, pointing errors, G terms, etc.)

[2015-09-29 10:46] marziarivi commented on #85
This is the idea:
since we know the analytical formula of the model visibilities I can compute analytically the gradient with respect to any parameter (not the time!). So what I do is just to add new functions in the solver (without modify any kernel) that implement the formulas derived analytically, which depends on the visibilities and the model parameters. So as an intermediate step I will comp

[2015-09-29 10:47] marziarivi commented on #85
Sorry I closed the issue by mistake...

[2015-09-29 10:56] marziarivi commented on #85
@sjperkins Let me know when I can create my branch.

[2015-09-29 12:22] jtlz2 commented on #85
@marziarivi Are the partial derivatives *always* analytic? In what cases are they not?

[2015-09-29 12:23] marziarivi commented on #85
They are analytic because we have the analytic expression of the RIME.

[2015-09-29 12:25] sjperkins commented on #85
@marziarivi OK, I've updated your first comment with the specification outline you provided above. You can edit it by clicking on the pencil button. It might be useful to learn some [markdown](https://guides.github.com/features/mastering-markdown/) for readability.

Reading between the lines of your specification, I think it would be best to compute this stuff on the GPU. Why not write a kernel fo

[2015-09-29 12:26] marziarivi commented on #85
Yes I completely agree.

[2015-09-29 12:30] sjperkins commented on #85
@marziarivi Updated the initial comment a bit more. I think other things to think about are

- any new arrays and their dimensions and dimension ordering.

[2015-09-29 12:37] jtlz2 commented on #85
@marziarivi Excuse ignorance - does that extend to the noise/covariance matrix/weight vector?

[2015-09-29 12:52] marziarivi commented on #85
I think yes.

[2015-09-29 12:56] o-smirnov commented on #85
Note that derivatives w.r.t. pointing errors are not analytic, if you're using an image for the E term.

[2015-09-30 17:05] marziarivi commented on #85
@sjperkins In the chi_sqrd computation do you reduce over the polarisation components of the visibilities?

[2015-09-30 17:22] sjperkins commented on #85
Yes, take a look at the last part of the kernel.

Sent from phone
On 30 Sep 2015 19:05, "Marzia Rivi" <notifications@github.com> wrote:

[2015-10-09 14:32] sjperkins commented on #34
Implemented in #87

[2015-10-09 14:32] #34 closed

[2015-10-09 14:33] sjperkins commented on #15
Implemented in #87

[2015-10-09 14:33] #15 closed

[2015-11-12 10:01] jtlz2 opened #88 "integer conversion resulted in a change of sign"
@sjperkins I think this is a known issue/wontfix - it's not really a problem, right?

The CUDA compiler succeeded, but said the following:
/home/bhengu/montblanc/montblanc/src/montblanc/include/jones.cuh(60): warning: integer conversion resulted in a change of sign
          detected during instantiation of "void rime_jones_EKBSqrt_impl(EKBTraits<T>::UVWType *, EKBTraits<T>::LMType *, T *, Tr::ct

[2015-11-12 10:03] sjperkins commented on #88
@jtlz2 Yes, lets keep the issue, buts its very low priority for me at present.

[2015-11-27 15:56] marziarivi commented on #85
Hi, I am just taking this work back (I was busy on another project...). Shall I implement this on the latest version (i.e. v5)?

[2015-11-27 17:34] sjperkins commented on #85
Hi Marzia

You can work on v4. V5 is built on top of it.
On 27 Nov 2015 17:56, "Marzia Rivi" <notifications@github.com> wrote:

[2015-11-30 16:25] marziarivi commented on #85
Hi,

my code seems not working well as before. Actually the K80, I used, have been replaced by Xeon Phi so now it runs on K20c.
Anyway, since each node has 2 GPUs it seems the code is using both GPUs, is it true?

INFO:montblanc:Device #0: Tesla K20c
INFO:montblanc:Device #1: Tesla K20c

and when I try to print visibilities on the GPU:

print slvr.bayes_data_gpu.get()

I get

File "/scratch/hpcriv

[2015-12-03 07:58] sjperkins commented on #85
Hi Marzia

1. Are you using

[code]
to access the GPU data? This should work. Ideally it would be good to add a `retrieve_bayes_data` method for pulling individual array data off the GPU, but I'm very time-limited at present.

2. Well, montblanc is implemented as a python package not an executable. The entry point to this package is the `rime_solver` function in `montblanc/__init__.py`, which retu

[2015-12-03 18:58] marziarivi commented on #85
On 3 Dec 2015, at 07:58, Simon Perkins <notifications@github.com> wrote:

Yes, you are right! I forgot the first line. Now it works but I don’t understand why in the visibilities i get the V component equal to I when I set the V component of the brightness matrix equal to zero….
The point is that I work only with the component I.

No, I am not going to create a new solver, I just want to add a new

[2015-12-04 08:34] sjperkins commented on #85
understand why in the visibilities i get the V component equal to I when I
set the V component of the brightness matrix equal to zero….

I think this is working as expected. Stokes parameters are I, Q, U, V, but
they are combined into a brightness matrix as

I + Q      U + iV
U - iV      I - Q

so if only I is non-zero, you should end up with the following

I      0
0      I

functionality which c

[2015-12-04 17:00] marziarivi commented on #85
Ok! At the moment my plan is the following:

- add the following arrays in BiroSolver: vis_grad (ntime,nil,nchan,4,npar), chi_squared_grad (npar), where npar is the number of parameters with respect to compute partial derivatives.

- add in RimeSumCoherencies.py the functions/kernels for the partial derivative computation, if requested (in some way by user) call them from the execute function.

No

[2015-12-08 15:40] marziarivi commented on #85
Hi Simon,

here is an update of the problem.

For some reason the numpy command equal().all is not working as expected (or it just uses the real part of the complex number). Using array_equal() instead I get the right answer, i.e. the ‘bayes_data' and ‘vis' arrays are different. I printed a chunk of them and it turns that one is the complex conjugate of the other.

But they should be the same beca

[2015-12-08 15:46] sjperkins commented on #85
#84 tracks the complex conjugate issue. I'll see if I have time to take a look at it, but the distributed version is very high priority for me at the moment.

[2016-01-28 13:33] marziarivi commented on #85
I have implemented in Montblanc the computation of the X2 gradient for sersic parameters (only gpu version) in the following way:

- modified slvr_config.py and BaseSolver.py files by adding a new parameter: nparams = X2 gradient size, default is 0
- modified BiroSolver.py by  adding two new output arrays:

    ary_dict('chi_sqrd_result_grad’,(’nparams’,'ntime','nbl','nchan'),'ft', cpu=False),

[2016-03-04 07:56] sjperkins commented on #84
Problem is likely because order of multiplication is incorrect and subtraction is incorrect. [Here](https://github.com/ska-sa/montblanc/blob/0641b53ecd491117e0c1353e39ed50ace9b43453/montblanc/impl/biro/v4/cpu/SolverCPU.py#L45)

[code]

should be

[code]

and [here](https://github.com/ska-sa/montblanc/blob/0641b53ecd491117e0c1353e39ed50ace9b43453/montblanc/impl/biro/v4/gpu/RimeSumCoherencies.py#L18

[2016-03-04 08:28] marziarivi commented on #84
On 4 Mar 2016, at 07:56, Simon Perkins <notifications@github.com> wrote:

I don’t see any difference between the two: you inverted the order of subtraction and the name of the variables, so at the end you perform the same operation.

Does this mean that in the next lines of the code we have to use ant_one instead of ant_two?

[2016-03-07 09:53] sjperkins commented on #84
@marziarivi

Yes, it was a typo on my part, I've updated my original comment.

Yes, thanks for spotting that!

[2016-03-07 11:00] marziarivi commented on #84
On 7 Mar 2016, at 09:53, Simon Perkins <notifications@github.com> wrote:

Why this coordinate should be treated differently from the others? From what I see you compute the baselines as follows: u[0]-u[1], v[1]-v[0], w[1]-w[0].

[2016-03-07 15:55] marziarivi commented on #84
I agree the problem is in the call of

montblanc::jones_multiply_4x4_hermitian_transpose_in_place<T>(ant_two, ant_one);

as you said. Since it is called several times and you have to replace ant_two with ant_one after, wouldn't  be simpler to modify the function jones_multiply_4x4_hermitian_transpose_in_place only?

[2016-03-08 08:43] sjperkins commented on #84
Closed by #93

[2016-03-08 08:43] #84 closed

[2016-03-08 13:33] sjperkins opened #95 "Dockerise Montblanc"
- Put montblanc in a docker container.
- Needs CUDA 7.5.
- Take a look at https://github.com/NVIDIA/nvidia-docker.

[2016-03-10 07:06] o-smirnov opened #98 "Implement linear sum of beamcubes"
The current E-Jones implementation uses a single E(l,m,freq) beamcube, plus arrays of dl, dm and rotation angle (antenna,time).

To support antenna-dependent beams, at some point we're going to need to represent E by a linear sum of N "basis function" beamcubes. Thus,

E = c_1*E_1 + ... + c_N*E_N,

where the coefficients c_i are functions of antenna and time. Or perhaps even antenna,time,freq -- t

[2016-03-10 07:19] o-smirnov opened #99 "Implement sparsely sampled Jones(dir,ant,time,freq)"
See prior discussion on https://github.com/cyriltasse/DDFacet/issues/48.

In response to @cyriltasse (https://github.com/cyriltasse/DDFacet/issues/48#issuecomment-194588263), and in the interest of clarity, let me formulate this another way. Indeed, the most general formulation of the RIME needs a DD Jones term that is a function of direction (i.e. source), antenna, time, frequency. This is a 4D o

[2016-03-10 07:46] sjperkins commented on #99
@o-smirnov OK, as you mention, we're already doing this for the E Beam cube. Thus, going from trilinear interpolation of the beam cube to quadrilinear interpolation of som E terms may not be a big step, implementation-wise.

Minor quibble, but now that we're moving to large single-core and distributed implementations, device space becomes less of a problem as we'll be batching portions of the prob

[2016-03-11 10:02] gijzelaerr opened #100 "IndexError: list index out of range while running setup.py"
[code]

[2016-03-14 08:38] sjperkins opened #101 "Rename bayes_data to observed_visibilities"
Reasons:

- Keeps terminology in the radio astronomy domain.
- The type of data being transferred is more explicit.

[2016-03-14 08:38] sjperkins commented on #101
This comment intentionally kept blank.

[2016-03-14 10:38] sjperkins commented on #95
@gijzelaerr See [this](https://github.com/ska-sa/montblanc/commits/kliko-integration) branch and [this](https://github.com/ska-sa/montblanc/commit/54ceceab271d78e744951646d08305a425c1819c) commit.

[2016-03-14 11:24] sjperkins commented on #39
Implemented in abd542a18eca211d69e211fe4f2f9120317840c3.

[2016-03-14 11:24] #39 closed

[2016-03-15 10:27] gijzelaerr commented on #95
also see this docker file https://github.com/ska-sa/montblanc/commit/488d4ca9dcf8dcfcfc4ee99e9d014ea9f8a0d38f

which should install montblanc in a CUDA container. last thing we need is:
* an entrypoint script
* a wrapper to confirm to the Kliko standard

[2016-03-15 10:37] sjperkins commented on #95
Entrypoint script `docker/entrypoint.py` added in 54ceceab271d78e744951646d08305a425c1819c.

[2016-04-04 07:18] sjperkins opened #107 "Python 3 compatibility/upgrade"

[2016-04-13 08:01] sjperkins opened #108 "Add Beta source profile."
Relevant papers by King:

[The structure of star clusters. III. Some simple dynamical models](http://adsabs.harvard.edu/abs/1966AJ.....71...64K)

[http://adsabs.harvard.edu/abs/1972ApJ...174L.123K](Density Data and Emission Measure for a Model of the Coma Cluster)

[2016-04-13 08:02] sjperkins opened #109 "Add NFW source profile"
Relevant paper by Navarro:

[A Universal Density Profile from Hierarchical Clustering](http://arxiv.org/abs/astro-ph/9611107)

[2016-04-13 08:05] sjperkins opened #110 "Add Corkscrew source profile"
@jtlz2 Is there a paper reference for corkscrew profiles that we can reference in this issue in a similar way to #108 and #109?

[2016-04-13 08:07] sjperkins commented on #51
Closing this issue as individual issues have been created for each source profile. See #108 #109 and #110.

[2016-04-13 08:07] #51 closed

[2016-04-13 08:30] jtlz2 commented on #108
Note that a beta-profile is the generalization of a King profile (originally developed as a purely-empirical model for star clusters but subsequently adopted for galaxy clusters - see King refs above), applied to X-rays. See:

[1978](http://adsabs.harvard.edu/abs/1978A%26A....70..677C)
[1976](http://adsabs.harvard.edu/abs/1976A%26A....49..137C)

[2016-04-13 08:32] sjperkins commented on #60
This can be closed when v3 is deprecated.

[2016-04-13 08:40] jtlz2 commented on #110
@rdeane?

[2016-04-13 08:41] jtlz2 commented on #110
@rdeane?

[2016-04-13 08:58] jtlz2 commented on #109
The NFW profile is now more widely adopted than the beta-profile, even though it is also empirically-derived (this time from simulations). But even the NFW profile has been superseded by the generalized NFW - see e.g. [Nagai+ 2007](http://adsabs.harvard.edu/abs/2007ApJ...655...98N)

[2016-04-13 15:10] rdeane commented on #110
http://adsabs.harvard.edu/abs/1981ApJ...246L.141H

or

http://adsabs.harvard.edu/abs/2016MNRAS.456.3964K

where the latter is more recent and have shared their (python) code here:

https://github.com/gkulkarni/JetMorphology

[2016-04-21 12:22] sjperkins commented on #100
Looks like HTTP request failed. Probably need to support resumable download as this also causes issues on the Jenkins test server.

[2016-04-21 12:26] gijzelaerr commented on #100
personally I truly dislike this installation method, it fails more than it works.

[2016-04-22 10:03] sjperkins commented on #101
@jtlz2 @marziarivi @saiyanprince

Closed by #112  and d2d682c279f3274d66e8554f691cb5ac999993d9 specifically.

[2016-04-22 10:03] #101 closed

[2016-04-22 10:04] sjperkins commented on #60
Version 3 was deprecated in #112 and 33e23d01f6cbfecec6b92cdb463c104227d8d299 specifically.

[2016-04-22 10:04] #60 closed

[2016-04-22 10:08] sjperkins commented on #100
Reasonably fixed by #111. HTTP Server isn't guaranteed to supply `Content-Length` header, in which case one has to trust that the server will close the connection when all data has been sent.

[2016-04-22 10:08] #100 closed

[2016-05-10 11:23] sjperkins opened #119 "Implement computation of residuals"
Add a mode to montblanc whereby residuals, the weighted difference between observed and model visibilities are output, rather than model visibilities.

**Initial post:** Currently, the weight vector is not applied to model visibilities before they are stored in global GPU memory, but instead to the delta of the model and observed visibilities. This should be changed so that the final model visibil

[2016-05-10 11:33] jtlz2 commented on #119
@sjperkins @bennahugo Under what circumstances would you want weighted model (presumably for export) visibilities as opposed to unweighted..?

[2016-05-10 12:02] sjperkins commented on #119
@jtlz2 /cc @bennahugo @o-smirnov  After further discussions with Ben, we've decided that the requirements here are a new mode in montblanc whereby the weighted difference of the model and observed visibilities (residuals) is stored in the model visibilities.

This shouldn't be difficult to implement. However, I am keen to differentiate between the different modes in which montblanc is used. I see

[2016-05-10 12:06] jtlz2 commented on #119
@sjperkins Got it now - sounds excellent!

[2016-05-11 10:09] sjperkins opened #120 "Does the expression for spectral intensity apply to the entire brightness matrix or only to I?"
Currently, the expression for the spectral intensity is multiplied into the entire brightness matrix like so:

![image](http://quicklatex.com/cache3/86/ql_839fc3433b50708845534f64a5e9a686_l3.png)

Landman suggested that that spectral intensity only applies to I. It seems to me that the above is valid iff `I^2 == Q^2 + U^2 + V^2`. @o-smirnov, @jtlz2  could you provide input here?

[2016-05-11 10:09] sjperkins commented on #120
This comment intentionally left blank

[2016-05-11 14:23] twillis449 commented on #120
To a zeroth order approximation you are more or less correct. The polarized signal can never be more that I, so if e.g. I is decreasing toward increasing frequency then so must the polarized components. However, due to various physical processes both internal to the sources and along the path between the source and the telescope, the polarized component of the signal (or percentage polarization) w

[2016-05-11 14:57] sjperkins commented on #120
@SpheMakh  makes the point that the quantities involved in I (intensity) are different from Q, U and V (rotational). It seems that the spectral intensity should only be applied to I if possible.

Thankfully this change is not difficult to make.

[2016-05-11 15:59] o-smirnov commented on #119
I'm a bit confused about this to be honest -- can you fill me in on Monday?

[2016-05-11 16:46] sjperkins commented on #119
Sure, wasn't intending to do this straight away and I wanted to discuss the above use cases with you in person.

[2016-05-12 05:57] jtlz2 commented on #120
@sjperkins If you have no spectral-index term for Q, U and V, you are making the (dangerous) assumption that all sources ever have flat (alpha=1) spectra, and independently of what I is doing, which seems implausibly unlikely.

So a more sensible (and flexible) approach to adopt for now might be to allow one alpha per stokes parameter.

I don't think we ever talked about allowing for higher-order

[2016-05-12 07:38] sjperkins commented on #120
An alpha per stokes parameter is also an easy change.

[2016-05-12 10:07] o-smirnov commented on #120
I don't believe alpha per Stokes parameter is useful or physical. If you're in the mood for coding, the next useful change is to implement rotation measure (RM):

phi = RM*(lambda / lambda_0)^2
Q = cos(phi)*Q_0 - sin(phi)*U_0
U = sin(phi)*Q_0 + cos(phi)*U_0

(can anybody remind me how to render math here?)

...and multiply the brightness matrix overall by the spectral index scaling law.

[2016-05-12 10:14] sjperkins commented on #120
@o-smirnov quicklatex will render latex maths into a png

[2016-05-12 10:19] o-smirnov commented on #120
OK sorry that should be

![image](https://cloud.githubusercontent.com/assets/6470079/15211430/6bf9217a-183b-11e6-9e7d-20e50870c256.png)

...and QU rotate through twice the angle. Damn, can't get it to render matrices right!

[2016-05-12 12:02] sjperkins commented on #120
@o-smirnov Cool! Lets discuss more when you're back, this isn't urgent.

[2016-05-13 07:47] sjperkins commented on #120
#121 confirms Meqtrees and Montblanc produce same results w.r.t. IQUV and spi.

[2016-05-13 08:15] sjperkins opened #122 "Add a gaussian source to Montblanc/MeqTrees visibility comparison test"
At the moment, we test for one off-centre point source with a spectral index and IQUV. It would be good to add a guassian to the test case.

Also consider randomising the source parameters.

[2016-05-13 13:28] sjperkins commented on #88
Fixed by #123.

[2016-05-13 13:28] #88 closed

[2016-05-16 09:17] sjperkins opened #124 "v5 implementation cleanups"
- Make device memory pool usage more clear in RimeReduce.py. Currently, dev_memory_pool is passed to the RimeSolver.py which is called from RimeReduce.py. Probably best to remove  memory pools from RimeSolver.py and explicitly pass pool into RimeReduce.execute(). This will require modifying pipeline.py which should probably removed in general.
- Explicitly specify a list of arrays to enqueue in _e

[2016-05-24 15:13] sjperkins commented on #119
Implemented in #131

[2016-05-24 15:13] #119 closed

[2016-05-27 16:15] jtlz2 opened #138 ""weight_vector" -> data covariance matrix"
@sjperkins How feasible would it be to upgrade the length-nvis "weight_vector" to a nvis x nvis "data covariance" matrix? Usually this would be static, but ideally we would like to fit for its elements, so it would have to be pushed on with every iteration. Hopefully I have caught you before this gets frozen in...

[2016-05-27 17:25] sjperkins commented on #138
@jtlz2 For the general case that's a very big problem space. Let's chat more in person.

[2016-06-08 11:47] sjperkins commented on #78
Implemented in #140

[2016-06-08 11:47] #78 closed

[2016-06-15 11:08] sjperkins opened #141 "Take parallactic angle per timestep from MeasurementSet"
Presently in the Beam, we have a single scalar parallactic angle that is set by the user. This must be changed to a parallactic angle per timestep, derived from the MeasurementSet.

Parallactic angle computation in Chapter 19 of Synthesis Imaging II

http://www.gb.nrao.edu/GBT/DA/gbtidl/release2pt9/contrib/contrib/parangle.pro

[2016-06-22 08:26] sjperkins opened #142 "E beam cubes and multiple bands"
Currently, Montblanc stacks multiple bands ontop of each other in the channel dimension. Thinking about it, there is a probably a bug here in how the beam cube handles multiple bands. Currently:
1. The position in the global channel space is scaled to a position within the cube.
2. The two adjacent voxels in the cube's frequency dimension are interpolated.

@o-smirnov I imagine this interpolation

[2016-06-22 13:58] o-smirnov commented on #142
I don't quite follow -- you'll need to draw me a picture or something...

[2016-06-22 14:58] sjperkins commented on #142
@o-smirnov See the following image:

![image](https://cloud.githubusercontent.com/assets/3530212/16271336/df119e7a-3899-11e6-8f0b-10c71e0f6bbb.jpg)

Since I'm now stacking each band on top of each other in the channel dimension, I'm wondering how to properly map from 16k (for e.g.) channels with 3 bands of 5400 channels to a single voxel cube with 50 channel images of size (l,m).

I'd imagine ther

[2016-06-22 17:37] o-smirnov commented on #142
There's not necessarily a discontinuity, but it's best not to assume anything. In particular, our real beam cubes do not always have a regularly-sampled frequency axis in the first place! So you must store a vector of "beam frequencies", and interpolate each channel as per its frequency. There's no ambiguity then.

[2016-06-23 13:37] sjperkins commented on #142
I remember the irregular spacing from our first discussions around this - I was wary of secondary index lookups in a GPU kernel and the compromise at that point was to resample the cube so that the spacings were regular.

I've thought about it a bit more tho. Can we assume a partial ordering on the lookup frequencies?

[2016-06-23 13:41] o-smirnov commented on #142
You mean on the MS frequencies that we interpolate **to**? Yeah any given block of visibilities will have an ordered frequency axis.

[2016-06-23 14:40] sjperkins commented on #142
Apologies I was using my phone for the previous comment.

I mean the "beam frequencies" mentioned in your comment yesterday.

[2016-06-23 15:45] o-smirnov commented on #142
The beam frequencies are also perfectly ordered.

[2016-06-23 18:49] bennahugo commented on #142
@sjperkins @o-smirnov ... interestingly enough (but slightly off topic) I've been playing around with fitting Chebyshev polynomials per pixel to model the frequency dependence of a cube and I'm seeing pretty cool results. I'm able to compress a 1000 slice holography cube down to about 6 terms per pixel in the diagonal RR / LL terms and I recover most of the structure in the offdiagonal RL/LR terms

[2016-06-23 18:49] bennahugo commented on #142
Have an ipython notebook for this

[2016-06-23 19:00] bennahugo commented on #142
https://github.com/bennahugo/algorithm_notebooks BeamInterpolator.ipynb

[2016-06-24 11:56] sjperkins commented on #142
@bennahugo Cool stuff. As discussed earlier, I think this is a nice to have feature for Montblanc in future, but I'll have to think about how to fit the components along with everything else into kernel registers/shared memory.

I really like the idea!

[2016-06-24 12:06] o-smirnov commented on #142
@bennahugo can you communicate this to @JulienNGirard and Kela? This is very relevant to their project...

[2016-06-27 13:37] bennahugo commented on #141
Comments from discussion

- Use  parallactic angle in Ch19 of Synthesis Imaging II
- l set to delta
- m set to -H?
- Phi set to each antenna's latitude.
  1. New array, **antenna_position** in latitude, longitude and altitude of shape (na, 3), dtype 'ft'
  2. This is a strange earth coordinate system, that we'll need to change with casameasures.
  2. Modify loaders to extract these coordinates fro

[2016-06-27 19:17] twillis449 commented on #141
You don't need CASA measures (although I admit it would be a good check on the appended code)

# Convert latitude (radians), longitude (radians) and elevation (metres) to ITRF XYZ
def WGS84ToITRF(lat, lon, h): # WGS-84 to ITRF
        sm_a = 6378137.0
        invf = 298.257223563
        f = 1.0 / invf
        SINK = math.sin(lat)
        COSK = math.cos(lat)
        e2 = 2.0 * f - f * f
        v

[2016-06-28 07:49] sjperkins commented on #141
@twillis449 That looks goo. However, we need to go from ITRF to (I think) WGS84. Do you have an inverse for the above?

[2016-06-28 09:03] jtlz2 commented on #141
@sjperkins I know a good book :) [www.cambridge.org/practicalastronomy](www.cambridge.org/practicalastronomy)

[2016-06-28 09:15] sjperkins commented on #141
@jtlz2 Need the GBP to fall a bit more relative to the ZAR.  Can you liase with Boris?

[2016-06-28 09:21] jtlz2 commented on #141
@sjperkins There is a copy somewhere at SKA (Foley?). \#borisforpm

[2016-06-28 10:44] sjperkins opened #145 "PyCUDA's gpuarray.sum produces CUDA memory access violations on multi-GPU setups"
Some sample output from a partial cuda-memcheck run [error.txt](https://github.com/ska-sa/montblanc/files/336810/error.txt):

[code]

This happens in PyCUDA's gpuarray.sum. Looks like the allocation from the DeviceMemoryPool is invalid.

However, it does work if one specifies a single GPU with `CUDA_VISIBLE_DEVICES=0` for instance.

Is the Device Memory Pool associated with the wrong context?

[2016-06-28 13:56] twillis449 commented on #141
Here's the python code to go in either direction.

[coordinates.txt](https://github.com/ska-sa/montblanc/files/337163/coordinates.txt)

[2016-06-29 06:30] bennahugo commented on #141
@twillis449 Thanks these will be very helpful!

[2016-06-29 10:42] sjperkins commented on #145
Loading the kernel seems to fail:

[code]
[This](https://lists.tiker.net/pipermail/pycuda/2012-May/003867.html) PyCUDA mailing list entry suggests this happens because of thread contention for a pipe to the NVCC compiler.

[2016-06-30 13:20] sjperkins commented on #145
Fixed by https://github.com/ska-sa/hypercube/pull/15 and [upgrade](https://github.com/ska-sa/montblanc/commit/046abed9c97479282d61a32b3e3dbb3a060100b8) to hypercube 0.2.1-alpha4.

[2016-06-30 13:20] #145 closed

[2016-07-14 12:21] sjperkins commented on #141
getBeamSampleTimes

[2016-07-18 10:30] sjperkins commented on #141
Implemented for a single reference antenna in #146 . Leaving this open as we'll support parallactic angles for each antenna at each timestep in future.

[2016-07-18 17:38] marziarivi commented on #85
I have completed the implementation of the chi squared gradient implementation for Sersic sources, both with the GPU and CPU solver. An example comparing the result with the numerical computation is provided. It can be easily extended to Gaussian sources. See comment at the beginning of the issue for all information.

[2016-07-19 09:18] sjperkins commented on #85
Implemented in #147

[2016-07-22 08:43] sjperkins opened #152 "Single channel dimension disappears in resultant model_vis arrays in v5"
Sphe created a MeerKAT problem with a single channel. This caused the `_overwrite` function in `solve` to fall over on an assign statement due to a dimension mismatch.

Likely cause is the squeeze statement in `_enqueue_array_slice` or indexing instead of slicing

[2016-07-22 14:14] sjperkins opened #154 "v4 CPUSolver references vis variable, subsequently renamed to model_vis"
[`self.vis`](https://github.com/ska-sa/montblanc/blob/f7df35359d36de8ccdec4f0aa27494d13307bed4/montblanc/impl/rime/v4/cpu/CPUSolver.py#L719) doesn't exist, this should be fixed to `self.model_vis`.

Fix pending in #147. Not high priority unless CPUSolvers become first-class citizens.

[2016-07-22 14:17] sjperkins opened #155 "v2 E Beam expressions multiplies by wavelength instead of dividing"
Problem is [here](https://github.com/ska-sa/montblanc/blob/f7df35359d36de8ccdec4f0aa27494d13307bed4/montblanc/impl/rime/v2/gpu/RimeEK.py#L161).

Unless someone uses the beam expression in v2, this can probably be left standing until v2 is deprecated.

[2016-07-22 14:27] marziarivi commented on #155
Actually it should multiply by c0/wavelength, i.e. frequency.

On 22 Jul 2016, at 15:17, Simon Perkins <notifications@github.com> wrote:

[2016-08-01 18:47] sjperkins commented on #152
@marziarivi @SpheMakh I believe this is trivial to fix, I'll do so tomorrow morning.

[2016-08-02 08:00] sjperkins commented on #152
Closed by #156

@marziarivi  you may wish to cherry-pick the commit that fixed this into your branch (c49b6847e631f33ec63f34053c0775ba6e53440c) or rebase your branch ontop of master.

[2016-08-02 08:00] #152 closed

[2016-08-02 10:34] marziarivi commented on #152
I updated my branch too.
Thanks,
Marzia

On 2 Aug 2016, at 09:01, Simon Perkins <notifications@github.com> wrote:

[2016-08-02 10:46] SpheMakh opened #157 "Cannot simulate a Gaussian source"
The solver object from montblanc does not seem to have a `gauss` attribute

[code]

I get this error even when running the `MS_single_node_example.py` example with `-ng` greater than 0.

[2016-08-02 11:03] sjperkins commented on #157
This functionality is still available but the example code was incorrect. Fixed in  #158.

[2016-08-02 11:03] #157 closed

[2016-08-02 11:57] SpheMakh opened #159 "Allow custom data column for chi square computation"
The current setup uses the DATA column to compute the chi square, and though the this can be manually changed by setting the `solver.observed_vis` array, it would more convenient to specify the data column when configuring the `montblanc.rime_solver` object

[2016-08-02 11:59] sjperkins commented on #159
@SpheMakh Do you have a workaround for this at present?

[2016-08-02 12:04] sjperkins commented on #159
# Implementation notes

Should make `INIT_WEIGHTS`  consistent with this somehow since they're both specifying where to obtain data from the MS. e.g.

- MS_OBSERVED_VISIBILITY_COLUMN
- MS_WEIGHT_COLUMN

or

- MS_OBSERVED_VISIBILITY_SOURCE
- MS_WEIGHT_SOURCE

[2016-08-02 12:12] SpheMakh commented on #159
@sjperkins, I'll just simulate the data into the DATA column. This would more a convenience than a necessity.

[2016-08-15 13:36] sjperkins opened #163 "Document casacore-data requirement in README"
parallactic_angle computation introduced this requirement

[2016-08-16 11:56] sjperkins commented on #163
Fixed in 9be5e37c25e62e81a1e37a68c3ee0517fd1ddec8

[2016-08-16 11:56] #163 closed

[2016-08-24 11:16] sjperkins commented on #49
Considering the precision required in #153, general use of floats may not be viable...

[2016-09-06 22:33] sjperkins opened #166 "Per channel stokes parameters"
@landmanbester 's birthday NFR

[2016-09-21 16:37] o-smirnov opened #167 "need a version of G-Jones that's delay/delay rate"
For some applications, we want a (scalar) G-Jones that is parameterized as

G(t,\nu) = exp{-i*(\phi_0 + a*t + b*\nu)}

where each antenna has its own \phi_0, a, b parameters.

Of course we can currently just compute this on the CPU, but it would be a lot faster if we could just pass in three numbers per antenna.

Not urgent @sjperkins, just throwing it out there to get initial thoughts.

[2016-09-21 16:51] sjperkins opened #168 "Support plugging in various implementations for different sections of the RIME pipeline."
New feature requests are asking for varying implementations for different RIME terms. Examples:

1. B (brightness) [Per Channel Stokes Parameters](https://github.com/ska-sa/montblanc/issues/166 )
2. E (DDEs) [Sparsely sampled Jones](https://github.com/ska-sa/montblanc/issues/99) and [Linear sum of beam cubes](https://github.com/ska-sa/montblanc/issues/98)
3. G (DIEs) [Parameterised delay](https://

[2016-09-21 16:51] sjperkins commented on #167
@o-smirnov This certainly viable. I think the challenge here is to make the montblanc pipeline plug and playable. This will require some thought about slotting different operations at different phases of the pipeline. Create an umbrella issue #168.

[2016-10-04 15:21] sjperkins opened #169 "Enhanced spectral index expression"
@LauraRichter Remember to provide link to the paper here.

[2016-10-04 15:33] LauraRichter commented on #169
Here is a paper which uses this parameterization:

http://adsabs.harvard.edu/abs/2013ApJS..204...19P

^^ See Section 8, Equation 10, and Table 10 for the coefficient values for the set of calibrators they fit in that paper.

In katpoint there are an additional two optional parameters, and a reference for that in the code:

https://github.com/ska-sa/katpoint/blob/master/katpoint/flux.py

[2016-10-05 09:06] sjperkins commented on #141
Note to self, this is implemented in the tensorflow version, this issue can be closed when its merged into master.

[2016-10-10 10:40] sjperkins opened #170 "Gradient Implementation"
The intention is to leverage Tensorflow's [gradient](https://www.tensorflow.org/versions/r0.11/api_docs/python/train.html#gradients) implementation which computes symbolic partial derivatives of an output tensor with respect to a number of input tensors.

So for example, Montblanc's tensorflow implementation will be able to output the partial derivative of a chunk of model visibilities with respec

[2016-10-10 10:43] sjperkins commented on #122
Implemented in 5699d8d62a7d264062ac61d22a0242b392ec4418, e4247ae64c979d3b33141526402d0a0028b4639a, f502913c9e47981613864240dcb75a5006bbd56c, ffb4b7573d049dddcd948e79e080bbb3acaa10ec.

Close this when the pull request goes through

[2016-10-18 14:20] marziarivi commented on #170
Not sure to understand the question...
For the chi squared gradient, obviously you can combine the partial derivatives of the visibilities to compute it because of the derivative chaining rule.

[2016-10-19 16:48] sjperkins commented on #170
After discussion with @landmanbester and some experiments this morning it looks like like tensorflow function ([tf.gradients](https://www.tensorflow.org/versions/r0.11/api_docs/python/train.html#gradients))  provides the Jacobian of some tensor with respect to input tensors.  For example, this example computes `y` and the Jacobian of `y` w.r.t. `x`:

[code]

Then, to produce a gradient operator, o

[2016-10-20 12:50] landmanbester opened #171 "Predicting from polynomial fit to frequency axis"
Currently montblanc uses a spectral index model for the frequency axis

I(v) = I(v0)(v/v0)^alpha

In some cases it is preferable to fit a more flexible model. In particular it is not possible to fit in log space when there are negative pixels in the model. In such cases we can still fit a polynomial

I(v) = I_0 + I_1(v/v0) +   I_2(v/v0)**2 + ....

to the frequency axis. Alternatively we might want

[2016-10-20 12:52] landmanbester commented on #171
This is also relevant to https://github.com/ska-sa/montblanc/issues/169

[2016-10-24 09:13] sjperkins opened #172 "casacore21/casacore2 conflict for python-casacore on Ubuntu 14.04"
python-casacore depends on casacore2 but if you've got casacore21 installed it finds that and complains.

Solution is to just install casacore2

[2016-10-24 09:28] JSKenyon commented on #172
I encountered this error whilst attempting a fresh install of MB on my 14.04 desktop machine. I followed the installation instructions but found that there was a conflict between my installed python-casacore and in prerequisite packages of MB. After removing the existing python-casacore, I was able to install the prerequisite packages, but was then unable to pip install python-casacore into my vir

[2016-11-07 08:29] sjperkins opened #173 "Provide mechanism to supply SourceProvider data to SinkProviders"
SinkProviders may need access to the input for the particular chunk of the problem that was used to produce for e.g. a chunk of model visibilities.

For example when handling `model_vis` output its useful to have access to the `antenna1` and `antenna2` inputs to determine which baseline is being used.

/cc @JSKenyon

[2016-11-07 08:33] JSKenyon commented on #173
Definitely - in general, I think that the antenna info is likely the most important. The time can be inferred, given that the data is assumed/forced to be correctly ordered in time. However, speaking from a calibration perspective, the baseline info is crucial.

[2016-11-07 10:53] sjperkins commented on #173
Implemented in 253143ccb2662c74114e26300969cd0d97346bab, this can be closed when branch is merged.

[2016-11-08 13:18] o-smirnov commented on #172
Actually you also need to install ``libcasacore2-dev``.

[2016-12-12 12:35] JSKenyon opened #174 "Allow user to specify data bounds for chunk-by-chunk solution"
For larger measurement sets, it would be useful to have functionality for solving for a subset (chunk) of the visibilities. This could be accomplished by altering the updated_dimensions method to support the specification of bounds.

[2016-12-13 07:27] JSKenyon opened #175 "Lack of warning/unexpected behaviour when feeding zero sources into the solver"
I encountered this bug accidentally whilst rewriting a Tigger source provider. Due to an error on my part, I managed to feed Montblanc zero sources before launching the solver. Montblanc did not crash, but likewise did not complain or notify me that I had not given it any sources.

A subsequent attempt to reproduce the bug did make Montblanc crash with the following (truncated) error:

I tensorflo

[2016-12-13 08:47] JSKenyon opened #176 "Add a "Solver Complete" style log message"
Sometimes it is unclear whether Montblanc is finished/finished successfully. A log message to this effect would be really helpful.

[2016-12-15 10:26] sjperkins opened #177 "Add support for circular polarisation filename schemas in FitsBeamSourcerProvider"
FitsBeamSourceProvider currently only searches for files matching a linear correlation pattern ('XX', 'XY', 'YX', 'YY').

Provide an option to match a circular correlation pattern ('RR', 'RL', 'LR', 'LL').

Related to #178

[2016-12-15 10:36] sjperkins opened #178 "Input Converters and General Pipeline units"
Presently the units of the internal tensorflow graph are fixed. For e.g.

- lm coordinates in radians
- linear (XX, XY, YX, YY) correlations

and the user must convert their data to/from this format in the Source/Sink Providers. However, it may be useful to allow the user to specify conversion functions that convert data into these formats. For e.g.

- lm coordinates in radec to radians
- circular

[2016-12-20 06:18] bennahugo opened #179 "Hypercube has no attribute 'dim_local_size'"
Something is going wonkey deep inside montblanc... as caught by the Jenkins CI:
[code]

[2016-12-20 07:23] sjperkins commented on #179
Fix incoming with https://github.com/cyriltasse/DDFacet/pull/281.

[2016-12-20 12:22] sjperkins commented on #179
Fixed by https://github.com/ska-sa/montblanc/commit/ae6b323bfd46353585977356604453e8b2442e94

[2016-12-20 12:22] #179 closed

[2017-01-03 08:40] sjperkins commented on #172
Fixed in https://github.com/ska-sa/montblanc/commit/98fb8e5775e47c2672871657ce3031c02d15d9a8, Leaving open until the rime-tf branch is merged.

[2017-01-11 12:05] JSKenyon opened #180 "Ubuntu 14.04 pip/setuptools/six Out of Date"
Ran into this while attempting to set up a virtualenv with --system-site-packages (for Meqtrees dependencies).

The dependency of tensorflow on six causes issues if six is out of date. It is well discussed [here](https://github.com/tensorflow/tensorflow/issues/1965). I solved this by pointing my python path at /usr/local/lib/python2.7/dist-packages rather than /usr//lib/python2.7/dist-packages. Th

[2017-01-20 13:20] marziarivi opened #181 "MS loader"
Hi Simon,

I noticed that Montblanc reads the number of antennas from a MS as the number of rows of the ANTENNA table. However, sometimes some of these rows have flag = 1, i.e. must be neglected.
They can be removed from the MS using CASA. However, I just pointed it out in case you want to manage it in the code.

Cheers,
Marzia

[2017-01-20 13:29] sjperkins commented on #181
Thanks for the headsup. We've been having a series of robust discussions about handling flagged or missing data. The new source/sink provider interface in the new version should make this fairly configurable for the user.

I guess the correct behaviour is to flag any baselines the antenna is involved with?

/cc @JSKenyon for interests sake

[2017-01-20 13:32] marziarivi commented on #181
In my case those antennas are not used in the other data. But Montblanc assumed a number of antennas different from the real one, because it doesn't consider the flag column. I assume that the MS must be consistent with the actual number of antennas and the baselines, even if some baselines could be flagged as well...

[2017-01-20 13:38] sjperkins commented on #181
This is more relaxed in v5 in the sense that I don't we don't require the following to hold strictly `nbl == na*(na-1)/2` (and `nbl == na*(na+1)/2` for autocorrelations) any more. So I don't this will be a problem going forward.

[2017-01-20 13:45] sjperkins commented on #181
Updated my previous comment.

[2017-01-20 13:47] marziarivi commented on #181
Yes I know because I am using v5. However there is a problem when the number of MS rows is different from ntime x nbl x nchan, which makes sense. So I am not sure this must be managed within the MS...

[2017-01-20 13:56] sjperkins commented on #181
We're still having a think about this. The two solutions we're thinking of are:

1. Support it somehow in the SourceProviders (loaders)
2. Provide a script to fill and flag the missing data points.

[2017-01-23 10:17] JSKenyon commented on #181
In my opinion, the flagged antennas should not have all baselines associated with them removed  from the MS. Instead, those rows should be flagged, preserving the ntime, nbl, nchan dimension which you mentioned. Unfortunately, dealing with information which has been removed in its entirety poses certain problems for performant code. As Simon mentioned, it is possible to handle this in the SourcePr

[2017-01-23 13:15] rdeane commented on #181
I would strongly support @sjperkins option number 2. This crops up all the time in other applications when we make the switch from using simulated data to real data.

[2017-02-09 11:17] gijzelaerr commented on #95
montblanc is now a debian package in KERN:
https://github.com/kernsuite-debian/montblanc

which makes it trivial to create a docker container using the KERN suite base container.

[2017-02-09 11:17] #95 closed

[2017-05-09 08:13] sjperkins opened #182 "CPU solver hangs with a small memory budget"
[code]

/cc @JSKenyon

[2017-05-09 08:19] sjperkins opened #183 "More flexible dimension specification by the user"
Currently montblanc wants things as a cube. This isn't so flexible going forward so I've been mulling over ideas for this. I'd appreicate your input here.

Currently montblanc users inform montblanc about the size of their dimensions in a SourceProvider:

[code]

In the band case, we want to tell Montblanc that it should handle channels in separate groups...

[code]

We can also introduce the idea

[2017-05-09 09:14] sjperkins commented on #183
@jtlz2 mentioned UVFITS/random groups - https://archive.stsci.edu/fits/users_guide/node28.html

[2017-05-09 13:40] o-smirnov commented on #183
The latter option will be required to support baseline-dependent averaging. In the extreme case, each baseline will have its own individual time axis, and each timeslot of that baseline can have its own subset of channels. Is this too flexible to implement efficiently?

[2017-05-09 13:44] sjperkins commented on #183
It should be fine. Only thing that I'd ask the user via API is a size hint for the maximum size for (GPU) memory  budgeting purposes.

[2017-05-16 09:59] sjperkins commented on #182
Runs OK on MS_tf_example.py for me. Can take the memory budget down to 8MB on the toy Westerbork example.

[2017-05-16 10:02] JSKenyon commented on #182
Problem seems to have disappeared after some changes on my end. Closing for now.

[2017-05-16 10:02] #182 closed

[2017-05-31 09:23] landmanbester opened #184 "Predicting from Laplacian eigenfunctions"
Montblanc currently only predicts from delta functions, 2D Gaussians and Sersic functions. It should be possible to predict from arbitrary functions by computing the Fourier transform of a Gaussian process analytically. Doing this approximately for the class of stationary and isotropic processes should be fairly simple if we take the reduced rank approach detailed [here](https://arxiv.org/abs/1401

[2017-05-31 09:39] sjperkins commented on #184
@joshvstaden this is the issue we'll use to track development of this issue. Let me know when you're ready to start and I'll begin guiding you through the code modifications.

[2017-05-31 10:33] JoshVStaden commented on #184
@sjperkins Thanks. I am writing exams for the next 2 weeks, and I finish on the 15th of June. Any time after that is good for me.

[2017-06-05 12:33] sjperkins commented on #176
Implemented in #185

[2017-06-05 12:33] #176 closed

[2017-06-05 12:34] sjperkins commented on #173
Implemented in #185

[2017-06-05 12:34] #173 closed

[2017-06-05 12:34] sjperkins commented on #159
Fixed in #185

[2017-06-05 12:34] #159 closed

[2017-06-05 12:34] sjperkins commented on #141
Implemented in #185

[2017-06-05 12:34] #141 closed

[2017-06-21 09:15] JoshVStaden commented on #184
Hi Simon, I am finished with exams, let me know when you want to start with the modifications.

[2017-06-21 09:39] sjperkins commented on #184
OK, so you're going to be writing a tensorflow operator. The basic tensorflow tutorial is [here](https://www.tensorflow.org/extend/adding_an_op).

However to get a closer idea of the the type of operator you'll be implementing, look [here](https://github.com/ska-sa/montblanc/tree/master/montblanc/impl/rime/tensorflow/rime_ops) and specifically at the Gaussian shape operator files. This operator ap

[2017-06-21 09:44] JoshVStaden commented on #184
Thanks. I'll get right on it.

[2017-06-21 09:49] sjperkins commented on #184
Also I suggest you fork the repository, create a branch with your changes and push those up to your fork. Then we can create an ongoing pull request to guide your code development.

[2017-06-21 11:59] landmanbester commented on #184
@JoshVStaden also feel free to ask me if you have any questions regarding the math...

[2017-06-22 10:19] JoshVStaden commented on #184
I seem to be having a problem running the test_gauss_shape.py, when running load_tf_lib(), it tries to find a file called montblanc/extensions/tensorflow/rime.so, which doesn't exist in the files. Is there perhaps a way of bypassing this, or am I meant to install this file?

[2017-06-22 10:24] sjperkins commented on #184
So a C++ and CUDA extension needs to be compiled. This happens with a

[code]

if you've cloned montblanc into `~/src/montblanc`... You'll probably have to do this each time the source changes.

Other installation instructions are [here](http://montblanc.readthedocs.io/en/latest/installation.html#installation)

[2017-08-02 15:38] sjperkins commented on #177
Implemented in #200 and #201.

[2017-08-02 15:38] #177 closed

[2017-08-02 15:39] sjperkins commented on #155
v2 is now deprecated

[2017-08-02 15:39] #155 closed

[2017-08-02 15:40] sjperkins commented on #154
v4 is not deprecated

[2017-08-02 15:40] #154 closed

[2017-08-02 15:40] sjperkins commented on #124
v5 is now deprecated

[2017-08-02 15:40] #124 closed

[2017-08-07 08:58] JSKenyon opened #206 "Addition of direction dependent simulation"
This is very much a pipe-dream. Currently, I compute DD visibilities by calling the solver multiple times with different sources on each call. This works but I suspect it is inefficient, especially when it comes to the computation of parallactic angles etc.

Ideally, it would be awesome if the interface to MB could support this in a more organic fashion.

[2017-08-07 09:24] sjperkins commented on #206
@JSKenyon Would visibilities form multiple fields/directions be summed together or should they be separately calculated?

[2017-08-07 09:34] JSKenyon commented on #206
@sjperkins They would be separate. The goal would be to end up with N separate sets of visibilities, each corresponding to a subset of the sources in the sky model. I know that this poses a problem in the source dimension - the number of sources per direction is not necessarily constant.

There are various things which could be improved upon, such as solver being able to differentiate between quan

[2017-08-07 09:35] sjperkins commented on #206
@JSKenyon This kind of thing will probably be doable in the dask version that I'm iterating on.

[2017-08-18 10:22] landmanbester opened #207 "cub md5sum mismatch when installing"
I run into problems trying to install with

$ pip install --log=mb.log git+git://github.com/ska-sa/montblanc.git@master

Inspecting the log suggests there is a md5sum mismatch for the cub download:

Collecting git+git://github.com/ska-sa/montblanc.git@master
  Cloning git://github.com/ska-sa/montblanc.git (to master) to /tmp/pip-SlT0Ic-build
  Running command git clone -q git://github.com/ska-sa/m

[2017-08-18 10:37] sjperkins commented on #207
Fixed by #208

[2017-08-18 10:37] #207 closed

[2017-08-21 10:07] sjperkins commented on #17
Exists now on http://montblanc.readthedocs.io

[2017-08-21 10:07] #17 closed

[2017-08-21 11:33] JSKenyon opened #212 "Cached provider fails when cache_data_sources argument is provided"
I ran into this issue whilst attempting to cache the parallactic angle. When running:

CachedSourceProvider(measet_src, cache_data_sources=["parallactic_angles"], clear_start=False, clear_stop=False)

I get the following error:

  File "/home/kenyon/CubiCal/cubical/MBTiggerSim.py", line 182, in simulate
    _mb_slvr.solve(source_providers=src_provs, sink_providers=snk_provs)
  File "/home/kenyon/v

[2017-08-22 15:09] sjperkins commented on #212
Fixed in #213

[2017-08-22 15:09] #212 closed

[2017-10-10 13:23] sjperkins opened #218 "Apply DDE's per source"
@SpheMakh @landmanbester @JSKenyon  Can you fill in the details on exactly what you wanted here?

[2017-10-11 08:50] sjperkins opened #219 "Upgrade to tensorflow 1.4.0"
Taking note of:

- New custom op building instructions: https://github.com/tensorflow/tensorflow/issues/13607
- Make use of Shard function to use Tensorflow's internal ThreadPool, instead of openmp: https://github.com/tensorflow/tensorflow/issues/13308

[2017-10-11 16:29] #142 closed

[2017-10-26 02:30] o-smirnov opened #225 "RimeSolver.solve() should re-raise solving exception"
solve() currently logs errors, but doesn't re-raise them. Probably better to re-raise and let the caller deal with it.

[2017-10-27 09:17] sjperkins commented on #225
Closed by #226

[2017-10-27 09:17] #225 closed

[2017-11-02 18:48] #172 closed

[2017-11-07 14:23] gijzelaerr opened #228 "Make a release and use normal versions"
please.

something like 0.5.0 or 0.4.1

http://semver.org/

[2017-11-07 14:26] sjperkins commented on #228
I'll do a 0.5.0 release when I have space. Are you trying to package montblanc?

[2017-11-09 14:41] gijzelaerr commented on #228
yes. 0.4.0 is in KERN-2, i would like to add a newer version to KERN-3.

[2017-11-10 12:37] sjperkins commented on #219
Closed by #227

[2017-11-10 12:37] #219 closed

[2017-11-11 11:19] o-smirnov commented on #169
Is this still not available? Bumping up...

[2017-11-13 10:29] sjperkins commented on #228
Released [0.5.1](https://pypi.python.org/pypi/montblanc/0.5.1)

[2017-11-13 10:29] #228 closed

[2017-11-13 13:09] gijzelaerr commented on #228
you are an amazing and wonderful person.

[2017-11-13 13:30] sjperkins commented on #228
Likewise the kernsuite stuff is really useful and a big time saver.

pip + setup.py struggles to build a local wheel for the pip cache, but I'm prepared to live with this for now.

[2017-11-13 13:47] marziarivi commented on #228
What do you mean with normal version? Without tensor flow or without GPUs?

On 13 Nov 2017, at 13:30, Simon Perkins <notifications@github.com> wrote:

[2017-11-14 10:11] landmanbester commented on #171
Just documenting discussion with @sjperkins. We usually want to fit the polynomial in log space for Stokes I and just an ordinary polynomial for Q, U and V. Thus sensible default behaviour would be to use a log-polynomial for I and ordinary polynomial for the rest. There are however cases where we want to allow for negative flux (as is the case when predicting from a DDFacet sky model for example)

[2017-11-14 10:18] sjperkins commented on #171
The `alpha` input with shape schema `['nsrc', 'ntime']` would then be renamed to `spectral_components` and it's shape changed something like  `['nsrc','ntime','nspeccomps','nstokes']`.

@o-smirnov Is the variation by time necessary -- The original idea was to represent scintillation in the `stokes` parameters, but I've never been sure if it's necessary in the spectral index expression.

[2017-11-14 10:28] rdeane commented on #171
The spectral index (and stokes parameters) can change fairly rapidly in the
EHT case (timescale of minutes to hours). This is an intrinsic source
variation which we would like to model in the future, so if this can be
incorporated now with not much extra effort, I would be greatly
appreciative.

cheers
Roger

On 14 November 2017 at 12:18, Simon Perkins <notifications@github.com>
wrote:

[2017-12-15 09:12] o-smirnov opened #234 "fixed dependency on python-casacore 2.1.2"
Why is there a hard dependency on 2.1.2 in master? This causes problems with KERN-3 (as discussed with @JSKenyon on a related CubiCal thread).

[2017-12-15 14:08] sjperkins commented on #234
I think there was a period where kern was on an old casacore but a new python-casacore and this caused breakage. I'll change this.

[2017-12-15 14:16] sjperkins commented on #234
Fixed by #235

[2017-12-15 14:16] #234 closed

[2017-12-29 10:55] bennahugo opened #237 "Montblanc needs native support for circular feeds"
its a bit awkward needing to do further stokes conversions outside of the predictor, since it involves significant matrix multiplication to bring linear to circular (eq 17 Hamaker I). I'm not even sure it is correct to do it after applying E B G, etc. since that matrix belongs closest to the correlation matrix? @o-smirnov thoughts?

[2017-12-29 10:56] bennahugo commented on #237
that matrix doesn't look like it will commute.

[2017-12-29 11:31] sjperkins commented on #237
Montblanc supports circular feeds on master branch.

On 29 Dec 2017 12:58 pm, "Benjamin Hugo" <notifications@github.com> wrote:

[2017-12-29 11:36] #237 closed

[2018-01-02 13:17] IanHeywood opened #238 "Installing montblanc on nash"
Trying to install DDFacet / cubical / montblanc inside a virtualenv on Nash, getting the following during the setup stage.

[code]

[2018-01-02 13:26] sjperkins commented on #238
Please read https://montblanc.readthedocs.io/en/latest/installation.html#installation, making sure to inspect the mb.log file for any issues listed in the documentation.

[2018-01-02 13:27] o-smirnov commented on #238
Hmmm, looking at the log --  looks like nash had a partial install of CUDA, so montblanc tried to compile GPU stuff (because it saw CUDA) and fails (because the CUDA was half-arsed). There's no GPU anyway, so I nuked CUDA, and it builds fine now (@IanHeywood I did it for you in your virtualenv).

[2018-01-02 13:27] sjperkins commented on #238
Also, note that latest Montblanc doesn't work with DDFacet, there's a recent open issue about it on the DDFacet repo

[2018-01-02 13:28] o-smirnov commented on #238
Bit of a mystery why it built in my virtualenv a couple of weeks earlier... @sjperkins did you add the code to detect ``nvcc`` only recently?

[2018-01-02 13:29] o-smirnov commented on #238
As long s it works with cubical, @IanHeywood will be happy I think.

[2018-01-02 13:36] sjperkins commented on #238
@o-smirnov no it's been there for a while. @jskenyon suggested a CPU only install option - I'll open an issue.

[2018-01-02 13:37] sjperkins opened #239 "Install CPU only option"
Allow ability to specify CPU install only.

[2018-01-02 13:38] #238 closed

[2018-01-03 11:24] IanHeywood commented on #238
[code]

Yup, thanks chief.

[2018-01-05 10:01] bennahugo opened #241 "Montblanc predict significantly slower than Meqtrees"
Single source in both cases:
Meqtrees takes under a minute to predict into a MeerKAT 16 100MHz dataset

1 iteration clean with predict in DDFacet + Montblanc (CPU):
montblanc predict..7665368/17609280 [=====================                             ]  43%  - 23'44"

[2018-01-05 10:10] bennahugo commented on #241
(this is a 300MB dataset)

[2018-01-05 10:25] sjperkins commented on #241
It's possible that's it's chosen some non optimal chunking strategy, but on the other hand, if I had a bitcoin for every time someone though Meqtrees war slower than Montblanc I'd be rich. I could throw together a benchmark when I return on Monday. Also see for example.

https://github.com/ratt-ru/CubiCal/issues/73
#issuecomment-338850781

and

https://github.com/ratt-ru/CubiCal/issues/81

Are you

[2018-01-05 10:31] sjperkins commented on #241
Have you set 'ntime' to the number of unique timesteps in the measurement set (not the total number of timesteps a.k.a. rows)

[2018-01-05 11:21] bennahugo commented on #241
Unique timestamps - I just padded it nbl * ntime where nbl includes autocorrelations

[2018-01-05 11:24] bennahugo commented on #241
I'll check again, but I really think this padding needs to be handled internally

[2018-01-05 11:31] sjperkins commented on #241
@bennahugo it is, in the dask version.

[2018-01-05 13:16] bennahugo commented on #241
Yup it is unique times - remember time centroid can shift around within an integration interval

After averaging down flagged data the centroid must be adjusted to be the correct timestamp of the data, which means very few baselines may share the exact same timestamp

[2018-01-05 13:17] o-smirnov commented on #241
Looks like all we want for Christmas is the dask version of Montblanc...

[2018-01-05 13:20] sjperkins commented on #241
@bennahugo can you reply with a URL pointing at your branch? I couldn't find it in amongst all the other DDFacet branches, or in your forked DDFacet-1 repo

[2018-01-05 13:26] sjperkins commented on #241
Or just create a PR for it

[2018-01-05 13:36] bennahugo commented on #241
It may actually be much faster to do the exponent based on uvw coordinates, not on the decomposition if it is the main reason why all baselines need to be present per slot? Alternatively the data needs to be regridded into common time bins before predicting?

[2018-01-05 13:37] bennahugo commented on #241
@sjperkins  https://github.com/bennahugo/DDFacet/tree/fix-montblancpredict

[2018-01-05 13:38] sjperkins commented on #241
@bennahugo there's a whole bunch of other design decisions here. Let's discuss this in person on Monday.

[2018-01-05 13:47] sjperkins commented on #241
But I'm still suspicious of the calculation of  `self._ntime`. Check it against `len(np.unique(time))`

[2018-01-08 10:14] sjperkins commented on #241
This a pathological case for the current master branch which will be solved in the dask version.

[2018-01-08 10:14] #241 closed

[2018-01-08 11:35] sjperkins opened #242 "Apply row concept to time and antenna axis"
Note that this applies to the new version in the dask branch.

In the dask version a `unique time`, as well as a `row` dimension exist. These two dimensions are related to each other in that multiple rows (baselines) are associated with a unique timestep. Then, multiple rows associated with multiple timesteps can be processed by a single CUDA kernel.

This is useful for cases where baseline averag

[2018-01-08 11:35] sjperkins commented on #242
/cc @o-smirnov @bennahugo

[2018-01-12 09:56] bennahugo commented on #171
I second @landmanbester's request to do polynomial fitting for I. It is necessary if you're working off pixelated models that could contain negatives - if a source falls between pixels it is necessary to to describe it as some sort of sinc function in pixel space.

I also agree that the log expansion needs more terms - some sources are peaked within the observed spectrum and have strong curavature

[2018-01-12 09:57] sjperkins commented on #120
Closing this in favour of https://github.com/ska-sa/montblanc/issues/171, which contains further discussion on expanded spectral intensity expression.

[2018-01-12 09:57] #120 closed

[2018-01-12 10:20] sjperkins commented on #171
@landmanbester @bennahugo Am I correct in understanding that these expressions are applied to the stokes parameters prior to the construction of the brightness matrix?

[2018-01-12 10:22] bennahugo commented on #171
Yes they make I, Q and U frequency dependent. So the brightness matrix becomes frequency dependent.

[2018-01-12 11:03] sjperkins commented on #171
I'll work this into the dask version

[2018-01-12 11:04] sjperkins commented on #171
I'll work this into the dask version

[2018-01-12 11:49] bennahugo commented on #166
@sjperkins YES!  shall I start singing / chanting / humming happy birthday ;-)

[2018-01-12 12:00] b2themax commented on #166
Ha I knew this getting old business had its up sides ;)

[2018-01-12 14:55] sjperkins commented on #166
Implemented in #244

[2018-02-01 08:29] JSKenyon opened #245 "Addition of switches for various Jones terms"
Currently, enabling and disabling individual Jones terms is very complicated. This is a particular problem for L Jones, as it is not always necessary. It can only be turned off by zeroing the parallactic angles. This, however, has repercussions for the E Jones term.

I think that it would be preferable to specify which Jones terms will enter into the RIME, rather than assuming all of them are pres

[2018-02-01 12:40] sjperkins commented on #245
Thanks for digging into this, I can see why this is a problem. I'll try look into it next week.

Related to https://github.com/ska-sa/montblanc/issues/168

[2018-02-12 12:14] JSKenyon opened #248 "Per-antenna UVW decomposition fails when time!=time_centroid"
I encountered this when simulating data into a real (used) measurement set. UVW coordinates are consistent with the TIME_CENTROID column, not the TIME column. Consequently, it may not be possible to generate a consistent per-antenna UVW decomposition.

The way to get around this is to use a per-baseline phase term and use the UVW coordinates directly from the MS. I think this is the safer option i

[2018-02-12 12:21] sjperkins commented on #248
Yeah, I think its becoming evident that for real data, montblanc can't get away with this much longer.

I don't disagree that the change needs to be made, the question is where we're going to make it: `master` branch or the `dask` version. I would prefer the dask version since everything about it is going to be more flexible and it should be much easier to wrap data than the SourceProvider version

[2018-02-12 12:26] saiyanprince commented on #248
@sjperkins I am currently working with the SourceProvider version, but I am quite happy to use the dask version going further.

[2018-02-28 13:41] sjperkins opened #249 "When should we compute values w.r.t. TIME and TIME_CENTROID respectively"
The Measurement Set specification says that UVW coordinates are calculated w.r.t TIME_CENTROID.

This raises questions as to whether we should calculate other quantities w.r.t. TIME_CENTROID. I can think of:

1. Parallactic Angles?
2. Direction Independent Effects?

Related to #248
/cc @JSKenyon  @o-smirnov @landmanbester

[2018-03-04 17:06] o-smirnov commented on #249
In theory, using TIME_CENTROID is the most precise way. In practice, most applications will not see a difference in the result (for things like PA and DIEs, it's certainly down in the noise and/or machine precision). So I would think really hard before we (a) pour Simon time into this, (b) give up any significant performance.

Arguing the other side: at some point we need to support BDA datasets,

[2018-03-04 19:55] twillis449 commented on #249
I completely agree with OMS on this issue.

[2018-03-13 10:43] sjperkins commented on #249
@o-smirnov @landmanbester @saiyanprince @JSKenyon @MichelleLochner @bennahugo @rdeane @twillis449.

I've written up a short latex document describing the accuracy (DDFacet, Cubical, Bayesian Inference) vs performance (Bayesian Inference) issues facing Montblanc. I'd appreciate your input on this because it seems like we're going to have to sacrifice some performance in order to obtain accuracy whe

[2018-03-13 11:18] sjperkins commented on #249
/cc @joshvstaden @ianheywood too

[2018-03-13 12:07] sjperkins commented on #249
Updated document to indicate that TIME_CENTROID usually differs from TIME when data is averaged...

[2018-03-13 13:23] sjperkins commented on #248
Closing in favour of #249

[2018-03-13 13:23] #248 closed

[2018-03-13 15:57] twillis449 commented on #249
Two comments
1) You should always use the UVW coordinates provided in the measurement set rather than computing the values yourself from the differences in the XYZ positions of the antennas making up the baseline. In real-world data the observatory making the observations may have 'adjusted' the UVW values due to some obscure local conditions. @o-smirnov and I had an extensive discussion about thi

[2018-03-15 08:28] sjperkins opened #250 "Create a Debian package for Montblanc"
It would be useful to have a debian [kernsuite](http://kernsuite.info/) package for montblanc.

In future, Montblanc will have a hard dependency on tensorflow 1.6 (and perhaps 1.7, as a release candidate has just come out). This in turn creates dependencies on

- CUDA 9.1
- cuDNN 7.0

CUDA 9.1 will be available in Ubuntu 18.04 bionic as a package. cuDNN 7.0 is a bit more tricky as I believe it is

[2018-03-15 08:32] sjperkins commented on #250
The conda devs seem to have to work on somewhat similar problems:

https://github.com/conda-forge/staged-recipes/issues/654

https://github.com/conda-forge/conda-forge.github.io/issues/63

[2018-03-15 08:33] gijzelaerr commented on #250
Yes, thanks for making this I priority. I would like to add that although it might not be possible at present time, it might be in the future. For that reason, I recommend keeping Montblanc compatible with Cuda 9.1 for now. But I know that also depends on what direction Tensorflow is going, which itself is a fast moving target.

[2018-03-15 08:38] sjperkins commented on #250
One option might be to create a Montblanc package with a dependency on the CPU version of tensorflow, eliminating the CUDA and cuDNN dependencies.

[2018-03-15 08:56] gijzelaerr commented on #250
would that still be useful?

[2018-03-15 12:50] sjperkins commented on #249
Seems like per-baseline complex phase (from UVW coordinates) is going to be the way forward for the purposes of correctness. However, I still aim to support the antenna decomposition so I've been putting switches into the tensorflow kernels in the dask branch to allow plugging in terms in various places.

[2018-03-16 07:40] sjperkins opened #251 "Dask Version Checklist"
- [ ] RIME Pipeline Configuration
  - [x] Tensorflow Op Configurability.  The CreateAntennaJones and SumCoherencies ops  can now be given flags  defining which terms exists and are multiplied into the RIME in  their respective locations.
  - [ ] Pipeline Configuration. Need to come up with dictionary definitions for the different terms. This should describe their
      - locations in the pipeline.

[2018-03-19 09:58] sjperkins commented on #251
Closed in favour of #252

[2018-03-19 09:58] #251 closed

[2018-03-26 09:31] SpheMakh opened #253 "numba caching failing: cannot cache function 'isclose': no locator available"
I'm getting this error with on master branch
[code]
 I think its related to this https://stackoverflow.com/questions/44183779/numba-caching-issue-cannot-cache-function-no-locator-available-for-file

[2018-03-26 09:34] sjperkins commented on #253
Yep, numba caches compiled functions in a `__pycache__` directory. Is this installed as a user, or running in some directory where no write permissions are available?

[2018-03-26 09:46] SpheMakh commented on #253
It /usr/lib, but the user is not root. Installing in a virtualenv should fix this right?

[2018-03-26 09:48] sjperkins commented on #253
Yes, a virtualenv should fix this. Alternatively, you could try setting `NUMBA_CACHE_DIR` as suggested by https://stackoverflow.com/questions/44183779/numba-caching-issue-cannot-cache-function-no-locator-available-for-file#comment75382183_44183779

[2018-03-26 09:56] SpheMakh commented on #253
Sorted

[2018-03-26 09:56] #253 closed

[2018-04-12 07:59] sjperkins opened #254 "RIME configuration scheme"
This issue will describe the configuration options that will be used to configure the RIME

Related to https://github.com/ska-sa/montblanc/issues/168 and https://github.com/ska-sa/montblanc/issues/245.

[2018-04-12 08:00] sjperkins commented on #245
Closed in favour of #254

[2018-04-12 08:00] #245 closed

[2018-04-12 08:24] sjperkins opened #255 "Support asymmetry in the RIME"
As Montblanc currently implements the RIME, symmetry in the left and right Jones terms are assumed. This is fast, computationally and makes optimal use of memory (especially on the GPU). The reasons for this are well-described in https://github.com/ska-sa/montblanc/issues/249 and https://www.overleaf.com/read/ccvvkzgymntg#/55754428/.

In a general formulation, the RIME does not strictly require sy

[2018-04-12 08:24] sjperkins commented on #255
/cc @o-smirnov @landmanbester @JSKenyon

[2018-04-12 08:27] sjperkins commented on #168
Much of this is supported in the CPU/GPU kernels in the dask development branch

[2018-07-12 15:01] vafaei-ar opened #258 "Missing symbols in anaconda tensorflow binaries cause RIME custom operators to fail."
I've installed the package successfully on Geneva cluster, but it gets below error when I've tried to tun standalone.py:

tensorflow.python.framework.errors_impl.NotFoundError: /home/vafaeisa/anaconda2/lib/python2.7/site-packages/montblanc-0.5.1+11.ge29c6ef-py2.7-linux-x86_64.egg/montblanc/ext/rime.so: undefined symbol: _ZN10tensorflow15shape_inference16InferenceContext11DebugStringENS0_11ShapeHan

[2018-07-13 10:37] sjperkins commented on #258
The anaconda tensorflow binaries seem to be missing the above symbol (perhaps amongst others) which causes linking problems with Montblanc's custom operators.

@vafaei-ar pip installed the pypi version of tensorflow (within anaconda) and this seems to solve the problem.

[2018-07-13 10:37] #258 closed

[2018-08-29 01:19] gijzelaerr commented on #250
related issue here https://github.com/kernsuite/packaging/issues/129

[2018-11-13 10:36] sjperkins opened #260 "Zernike Polynomial Random Inputs Test Case Failing"
The Zernike polynomial random_inputs test case seems to be failing on the dask-tf-1.4 branch. It seems to be outputting zeros or nans for the random inputs. The test case should be updated so that representative random input produces some reasonable output.

I've made some updates to the test cases mostly to improve formatting and to make the comparison tolerances more consistent across single and

[2018-11-13 10:37] sjperkins commented on #260
@joshvstaden Could you please take a look? You'll need to check out the latest dask-tf-1.4 branch of montblanc.

[2018-11-14 08:58] JoshVStaden commented on #260
@sjperkins I updated my Montblanc fork to match yours, and I can't seem to install it. It seems to fail at compile time, and I get the following issues:

`    montblanc/impl/rime/tensorflow/rime_ops/simple_map_dataset.cpp:561:5: error: expected class-name before ‘{’ token
  Can't roll back montblanc; was not uninstalled
    montblanc/impl/rime/tensorflow/rime_ops/simple_map_dataset.cpp:607:33: err

[2018-11-14 09:41] JoshVStaden commented on #260
@sjperkins I did notice that the required tensorflow version changed, and I managed to install the latest version without any issues. I am running it in a virtual environment, and the command that I run is
`pip install -e ~/montblanc/`

[2018-11-14 09:47] sjperkins commented on #260
Are you in the dask-tf-1.4 branch?

[2018-11-14 09:52] JoshVStaden commented on #260
Yes

[2018-11-15 07:19] sjperkins commented on #260
Ping me on hangouts?

[2018-11-15 07:29] JoshVStaden commented on #260
I'm unfortunately in PE for the day, I'll only be back late this afternoon

[2018-11-16 08:08] JoshVStaden commented on #260
@sjperkins Hi Simon, do you still need to do a Hangouts?

[2018-11-17 11:57] o-smirnov opened #261 "pip install montblanc fails because of new astropy dependency"
I'm getting this when trying to ``pip install montblanc``:

[code]

What's the way out of?

[2018-11-17 12:01] sjperkins commented on #261
astropy >= 3 is python 3 only. Quick fix is to put a python 2 constraint in
setup.py (example of how to do this is in codex-africanus setup.py).

I'll fix it up during the week.

On Sat, 17 Nov 2018, 13:57 Oleg Smirnov <notifications@github.com wrote:

[2018-11-17 14:49] o-smirnov opened #262 "Exiting with exception: NotFoundError(/home/oms/projects/montblanc/montblanc/ext/rime.so: undefined symbol: _ZN10tensorflow15OpKernelContext21CtxFailureWithWarningENS_6StatusE)"
Can't get current master to work on 18.04. Pip install not an option due to #261. As a kludge, I cloned master, removed the astropy dependency from setup.py (system has astropy installed anyway), and went the ``setup.py develop --user`` route. This did install tensorflow etc. But now I get:

[code]

[2018-11-17 14:53] o-smirnov commented on #262
``pip install -e montblanc`` inside a virtualenv produces the same error. This is with tensorflow-1.8.0.

[2018-11-17 15:09] sjperkins commented on #262
Might be a C++ ABI issue with tensorflow on 18.04. If this isn't a
completely new virtual environment I would recommend starting a new one
from scratch.

On Sat, 17 Nov 2018, 16:53 Oleg Smirnov <notifications@github.com wrote:

[2018-11-17 15:33] sjperkins commented on #262
Try the following:

1. Clone montblanc master
2. Modify this [line](https://github.com/ska-sa/montblanc/blob/72a8cc48f94fc6af22a500dfa25cdc42114bd551/install/tensorflow_ops_ext.py#L111) to `('_GLIBCXX_USE_CXX11_ABI', 1)]`
3. pip install -e <clone-location>

[2018-11-19 12:12] sjperkins commented on #262
I've installed master on both ray (18.04) and stevie (16.04.5). Both installs succeed and example scripts run.

[2018-11-19 12:32] o-smirnov commented on #262
The fix I pushed to #261 also resolves this. No idea why, but I'll take it!

[2018-11-19 12:32] #262 closed

[2018-11-19 12:34] sjperkins commented on #262
Likely caused by the build process not realising the old object + shared object files need to be replaced when a new tensorflow version is installed. I'll try and think of a reasonable way of supporting this.

[2018-11-19 12:34] sjperkins commented on #261
Fixed by #264

[2018-11-19 12:34] #261 closed

[2018-11-19 12:42] o-smirnov commented on #169
Another bump. Need this badly.

See MeqTrees implementation: https://github.com/ska-sa/meqtrees-cattery/commit/1961bf7e4f98832bde197e6f77feaf0071d430b6#diff-775eeeadde559783f5086161e301aab7

[2018-11-19 13:07] sjperkins commented on #169
This still isn't feasible given the architectural inflexibility in the current master branch. I see two solutions:

1. Use the ddfacet branch which removes the single spectral index parameter, but provides the ability to set per-channel stokes values (in which your desired and fairly arbitrary spectral model should be integrated). It looks like [this](https://github.com/ska-sa/montblanc/blob/bfa80

[2018-11-19 13:11] o-smirnov commented on #169
Option 1 works for me, but can we merge the ddfacet branch into master? Otherwise how's CubiCal's pip install going to play with a branch version of montblanc?

[2018-11-19 13:15] sjperkins commented on #169
We could, since it seems as if everyone is now essentially using that version (DDFacet, Cubical, @chrisfinlay).

Alternatively, this can be achieved through the use of [dependency_links](https://python-packaging.readthedocs.io/en/latest/dependencies.html#packages-not-on-pypi) in setup.py

[2018-11-19 13:20] sjperkins commented on #169
In fact, this method is [deprecated](https://github.com/pypa/pip/issues/3939). [PEP 508](https://www.python.org/dev/peps/pep-0508) is not available in the latest [pip](https://github.com/pypa/pip/pull/4175)

[2019-01-22 06:58] o-smirnov opened #266 "failing UVW decomposion in 3C286.BP.ms"
Ask @bennahugo for a copy. I think the subset of baselines is particularly perverted, and defeats your current two-pass UVW decomposition logic.

I think I also have the solition.

[2019-01-22 13:56] bennahugo commented on #266
[code]
A fix for this exact issue is already implemented in the source providers in DDFacet. It is as simple as padding up the chunk to contain all baselines and then resimulating UV corrdinates into the padded arrays - similar to CASA fixvis @o-smirnov @sjperkins

[2019-01-22 13:58] bennahugo commented on #266
See
https://github.com/cyriltasse/DDFacet/blob/master/DDFacet/Imager/ClassMontblancMachine.py#L146
and
https://github.com/cyriltasse/DDFacet/blob/master/DDFacet/Imager/ClassMontblancMachine.py#L291
through
https://github.com/cyriltasse/DDFacet/blob/master/DDFacet/Imager/ClassMontblancMachine.py#L376

[2019-01-22 14:04] o-smirnov commented on #266
Mine is simpler though. :)

[2019-01-22 14:07] bennahugo commented on #266
lol ok :) anyway this is not the first case that this is a problem. All split data suffers this affliction

[2019-01-23 11:21] o-smirnov opened #267 "need feed angle support"
We need a per-antenna, per-feed angle (FA), which acts as an additive offset to the PA.

FA is a (num_antenna,2) array, default is 0.

This modifies the P-Jones matrix as follows: the first row of the matrix for antenna *p* (or phase-shift, if using circular feeds)  PA+FA[i,0], and the second row uses PA+FA[i,1].

[2019-03-29 21:46] arose13 commented on #253
Does this mean you cannot fun numba on distributed computing systems? (with spark etc)

[2019-05-23 09:42] bennahugo opened #270 "build system fails on python 3"
Starting from a clean slate the build system is not working on python3:
[code]

[2019-05-23 12:15] bennahugo commented on #270
So this bug is specifically a distutils and setuputils bug with python3 under the latest setuputils

[2019-05-23 13:00] bennahugo commented on #270
Looks like there is no easy way around the installation issue. For now users will just have to install tensorflow themselves

[2019-05-23 13:55] bennahugo commented on #270
Fixing that the build system fails deep within distutils:
[code]
Even after first ensuring tensorflow is installed.

[2019-05-23 13:59] sjperkins commented on #270
99% sure its the delayed tensorflow extension build that causes this. If the custom `build_ext` was removed and `create_tensorflow_ext`  was called in setup.py prior to the `setup` call this would not be an issue.

[2019-05-24 06:55] bennahugo commented on #270
I've ported over the install scripts from master to check and applied the same minor fixes. They also don't work so it looks like a bonafide bug with distutils and extension modules

[2019-05-24 07:32] sjperkins commented on #270
I disagree. I'm pretty sure the issue stems from here:

https://github.com/ska-sa/montblanc/blob/aaf23809c890de13e76e18bf69a174236b4eb5bb/install/tensorflow_ops_ext.py#L168-L187

The extension build is delayed till the **run** method in the custom **build_ext**. To make this work, attributes are copied over from a dummy extension into the just build extension.

I think the proper solution to this

[2019-05-24 15:44] bennahugo commented on #270
Have it working

[2019-05-31 06:57] bennahugo opened #271 "(at least) CPU tests needs to be run on PRs"
@sjperkins can you help me run through your test suite. Nose does not work for some reason I'm yet to figure out:
[code]
this works: python3 test_feed_rotation.py

[2019-05-31 07:04] bennahugo commented on #271
Also needs to make sure the system builds and installes on both py2 and py3

https://github.com/ska-sa/meqtrees-timba/blob/py3ize/.travis.yml

If possible the tests needs modification so that meqtrees can be run in py2 and montblanc tested in py3

[2019-05-31 08:15] sjperkins commented on #271
Rather run the tests with pytest

[2022-03-11 08:21] bennahugo opened #277 "Documenting numerical failures against TensorFlow v 2.8.0"
Don't have time to track down the root cause of this at present, so not filing a bug against Tensorflow.

**System information**
- Have I written custom code (as opposed to using a stock example script provided in TensorFlow): Yes
- OS Platform and Distribution (e.g., Linux Ubuntu 16.04): Ubuntu 20.04
- Mobile device (e.g. iPhone 8, Pixel 2, Samsung Galaxy) if the issue happens on mobile device: N